

body, ul {
	list-style: none;
	text-decoration: none;
}

p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #c7c9c9;
}

a:visited {
	text-decoration: none;
}


#page-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-position: left 11.92vw top 0;
	background-attachment: fixed;
	-webkit-background-size: auto auto;
	-moz-background-size: auto auto;
	background-size: auto auto;
}


/* Elements of main page */

.background {
	position: fixed;
	top: -62vh;
	left: -12.7vw;
	height: 127vw;
	width: 127vw;

	/*background: url("../Contents/logos&botones/bkgSpheresMain1080.png");*/
	transform: rotate(5deg);
}

#bkgLayer1{
	background: url("../Contents/logos&botones/bkgSpheresLayer1-1080.png");
	background-size: contain;
	transition-duration: 600s;

}

#bkgLayer2{
	background: url("../Contents/logos&botones/bkgSpheresLayer2-1080.png");
	background-size: contain;
	transition-duration: 594s;

}

#bkgLayer3{
	background: url("../Contents/logos&botones/bkgSpheresLayer3-1080.png");
	background-size: contain;
	transition-duration: 606s;
}

.center {
	position: fixed;
	top: 18.7vh;
	right: 37.5vw;
	z-index: 1;
}

.center-img {
	width: 40vh;
}

/*Floating bubbles*/

.bubble, .bubble2, .formamos-before, .creamos-before, .patriotas-before {
	width: 16.2vh;
	height: 16.2vh;
}

.formamos, .formamos-level {
	transition: 0.3s;
}

.formamos-before {
	position: fixed;
	top: 61.3vh;
	left: 21.3vh;
	width: 42.7vh;
	height: 42.7vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 7px solid #eceff1;
	background-color: #eceff1;
} .formamos-before:hover, .formamos-before.jqHover, .formamos-before:active, .formamos-before.jqActive {
	border: 7px solid #eceded;
	background-color: #eceded;
}

.formamos {
	position: relative;
  top:-0.7vh;
  left: -0.7vh;
	width: 41.3vh;
	height: 41.3vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #c7c9c9;
	background-color: #92D3D1;
	font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.5s;
} .formamos:hover, .formamos.jqHover, .formamos:active, .formamos.jqActive {
	background-color: #18afb4;
	transition: background-color 0.5s;
}


.formamos-p, .creamos-p {
	position: absolute;
  font-size: 5vh;
	width: 100%;
	line-height: 2.59vh;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.formamos-p {
  top: 15vh;
  left: 0.5vw;
}

.creamos-p {
  top: 12vh;
  left: 0.2vw;
}

.creamos-before {
	position: fixed;
	top: 7vh;
	left: 65.2vw;
	width: 37.3vh;
	height: 37.3vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #eceff1;
	background-color: #eceff1;
} .creamos-before:hover, .creamos-before.jqHover, .creamos-before:active, .creamos-before.jqActive {
	border: 5px solid #eceded;
	background-color: #eceded;
}

.creamos {
	position: relative;
	width: 34.7vh;
	height: 34.7vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #c7c9c9;
	background-color: #7dc9db;
	font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.5s;
} .creamos:hover, .creamos.jqHover, .creamos:active, .creamos.jqActive {
	background-color: #1d8ab1;
	transition: background-color 0.5s;
}


.patriotas-before {
	position: fixed;
	top: 10.7vh;
  left: 0.5vw;
	width: 26.7vh;
	height: 26.7vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #eceff1;
	background-color: #eceff1;
	transition: background-color 0.5s, border 0.5s;
} .patriotas-before:hover, .patriotas-before.jqHover, .patriotas-before:active, .patriotas-before.jqActive  {
	border: 5px solid #d1d2d4;
	background-color: #d1d2d4;
}

.patriotas {
	position: relative;
	width: 24vh;
	height: 24vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #dfdfdf;
	background-color: #fdfdfd;
  font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: #cbcbcb;
	transition: background-color 0.5s, border 0.5s;
} .patriotas:hover, .patriotas-jqHover, .patriotas:active, .patriotas-jqActive {
	border-color: #58585b;
	background-color: #fffafa;
	transition: background-color 0.5s, border 0.5s;
}

.patriotas-p {
	position: absolute;
	top: 2vh;
	width: 100%;
	font-size: 4vh;
	text-transform: uppercase;
}
