

body, ul {
	list-style: none;
	text-decoration: none;
}

p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #c7c9c9;
}

a:visited {
	text-decoration: none;
}


#page-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
  background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: auto auto;
	-moz-background-size: auto auto;
	background-size: auto auto;
}


/* Elements of main page */

.background {
	position: fixed;
	top: -13.4vh;
	left: -65vw;
	height: 127vh;
  width: 127vh;

	background-repeat: no-repeat;
	/*background: url("../Contents/logos&botones/bkgSpheresMain1080.png");*/
	transform: rotate(5deg);
}

#bkgLayer1{
	background: url("../Contents/logos&botones/bkgSpheresLayer1-1080.png");
	background-size: contain;
	transition-duration: 600s;

}

#bkgLayer2{
	background: url("../Contents/logos&botones/bkgSpheresLayer2-1080.png");
	background-size: contain;
	transition-duration: 594s;

}

#bkgLayer3{
	background: url("../Contents/logos&botones/bkgSpheresLayer3-1080.png");
	background-size: contain;
	transition-duration: 606s;
}

.center {
	position: fixed;
	top: 32vh;
	right: 30vw;
	z-index: 1;
}

.center-img {
	width: 40vw;
}

/*Floating bubbles*/

.bubble, .bubble2, .formamos-before, .creamos-before, .patriotas-before {
	width: 16.2vh;
	height: 16.2vh;
}

.formamos, .formamos-level {
	transition: 0.3s;
}

.formamos-before {
	position: fixed;
	top: 65vh;
	left: -7vw;
	width: 38.5vw;
	height: 38.5vw;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 7px solid #eceff1;
	background-color: #eceff1;
} .formamos-before:hover, .formamos-before.jqHover, .formamos-before:active, .formamos-before.jqActive {
	border: 7px solid #eceded;
	background-color: #eceded;
}

.formamos {
	position: relative;
  top:-2.5px;
  left: -2.5px;
	width: 37vw;
	height: 37vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #c7c9c9;
	background-color: #92D3D1;
	font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.5s;
} .formamos:hover, .formamos.jqHover, .formamos:active, .formamos.jqActive {
	background-color: #18afb4;
	transition: background-color 0.5s;
}


.formamos-p, .creamos-p {
	position: absolute;
  font-size: 4.4vw;
	width: 100%;
	line-height: 2.59vh;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.formamos-p {
  top: 7vh;
  left: 1vw;
}

.creamos-p {
  top: 6vh;
  left: -1vw;
}

.creamos-before {
	position: fixed;
	top: 15vh;
	left: 69vw;
	width: 38vw;
	height: 38vw;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #eceff1;
	background-color: #eceff1;
} .creamos-before:hover, .creamos-before.jqHover, .creamos-before:active, .creamos-before.jqActive {
	border: 5px solid #eceded;
	background-color: #eceded;
}

.creamos {
	position: relative;
	width: 35vw;
	height: 35vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #c7c9c9;
	background-color: #7dc9db;
	font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.5s;
} .creamos:hover, .creamos.jqHover, .creamos:active, .creamos.jqActive {
	background-color: #1d8ab1;
	transition: background-color 0.5s;
}


.patriotas-before {
	position: fixed;
	top: 10vh;
	left: 2vw;
	width: 26.7vw;
	height: 26.7vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #eceff1;
	background-color: #eceff1;
	transition: background-color 0.5s, border 0.5s;
} .patriotas-before:hover, .patriotas-before.jqHover, .patriotas-before:active, .patriotas-before.jqActive  {
	border: 5px solid #d1d2d4;
	background-color: #d1d2d4;
	transition: background-color 0.5s, border 0.5s;
}

.patriotas {
	position: relative;
	width: 24vw;
	height: 24vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #dfdfdf;
	background-color: #fdfdfd;
  font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: #cbcbcb;
	transition: background-color 0.5s, border 0.5s;
} .patriotas:hover, .patriotas-jqHover, .patriotas:active, .patriotas-jqActive {
	border: 0.64vh solid #58585b;
	background-color: #fffafa;
	color: #231f20;
	transition: background-color 0.5s, border 0.5s;
}

.patriotas-p {
	position: absolute;
	top: 1.5vh;
	width: 100%;
	font-weight: lighter;
	font-size: 4.2vw;
	line-height: 2.59vh;
	text-transform: uppercase;
}
