
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
	font-size: 62.5%;
}

p, li, h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 20px;
	position: relative;
}

#page-wrap {
	background: white;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
	position: fixed;
	left: 30%;
	}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.formamos {
	background-color: rgb(23, 171, 236);
	height:90px;
	width:90px;
	position: relative;
	top: 40px;
	left:-10vw;
}

.formamos-p {
	position: relative;
	top: 35%;
	color: white;
	font-size: 16px;
	text-align: center;

}

.form-lvl-p {
	position: relative;
	top: 40px;
	font-size: 20px;
	text-align: center;
}

.aceleradora {
	position: relative;
	top: 20px;
	left: -5vw;
	background-color: rgb(130, 230, 236);
	height:120px;
	width: 120px;
}

.description {
	position: relative;
	left: -1vw;
	top: -3vw;
	width: 38vw;
	height: 38vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
}

.st {
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 20px;
}

.txt {
	width: 85%;
	top:8vw;
	left: 40px;
}

.sphere{
	position: relative;
	height: 60px;
	width: 60px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#Asociacion_Taller_Ninos {
	background-image: url(../Contents/logos&botones/MENU_logo_Sara_Cifuentes.png)
}

#Atomika {
	background-image: url(../Contents/logos&botones/MENU_logo_erika_pavletich.png)
}

#Bederr {
	background-image: url(../Contents/logos&botones/MENU_logo_mario_gil.png)
}

#Bocadio {
	background-image: url(../Contents/logos&botones/MENU_logo_diego_echecopar.png)
}

#Diloo {
	background-image: url(../Contents/logos&botones/MENU_logo_jose_ignacio_bernal.png)
}

#Doktuz {
	background-image: url(../Contents/logos&botones/MENU_logo_abraham_abramovitz.png)
}

#Donante_Pendiente {
	background-image: url(../Contents/logos&botones/MENU_logo_vanessa_vasquez.png)
}

#Equus_Corporation {
	background-image: url(../Contents/logos&botones/MENU_logo_paola_quintana.png)
}

#Health_Coaches {
	background-image: url(../Contents/logos&botones/MENU_logo_ericka_echegaray.png)
}

#Infusion {
	background-image: url(../Contents/logos&botones/MENU_logo_blythe_muro.png)
}

#Kallku {
	background-image: url(../Contents/logos&botones/MENU_logo_vanesa_rubina.png)
}

#Kokisimo {
	background-image: url(../Contents/logos&botones/MENU_logo_Brenda_Herrera.png)
}

#Lulipa {
	background-image: url(../Contents/logos&botones/MENU_logo_nati_agois.png)
}

#Mi_Media_Manzana {
	background-image: url(../Contents/logos&botones/MENU_logo_Pedro_Neira.png)
}

#Moldes {
	background-image: url(../Contents/logos&botones/MENU_logo_katia_de_la_cruz.png)
}

#My_Bump_Ac {
	background-image: url(../Contents/logos&botones/MENU_logo_Luciana_Rey.png)
}

#Peru_Apps {
	background-image: url(Contents/logos&botones/MENU_logo_julio_ramon.png)
}

#PickUp {
	background-image: url(Contents/logos&botones/MENU_logo_felix_ipanaque.png)
}

#Planeta_Oceano {
	background-image: url(../Contents/logos&botones/MENU_logo_kerstin_forsberg.png)
}

#Qempo {
	background-image: url(../Contents/logos&botones/perfil_logo_anson_tou.png)
}

#Riqra {
	background-image: url(../Contents/logos&botones/MENU_logo_jaime_chiarella.png)
}

#Spray_Wash_Ac {
	background-image: url(../Contents/logos&botones/MENU_logo_Ricardo_Armas.png)
}

#Turismoi {
	background-image: url(../Contents/logos&botones/MENU_logo_diego_arbulu.png)
}

#Up_Peru {
	background-image: url(../Contents/logos&botones/MENU_logo_Amadeus_Malca.png)
}

#Vecinos360 {
	background-image: url(../Contents/logos&botones/MENU_logo_gonzalo_rossello.png)
}

#Yaqua {
	background-image: url(../Contents/logos&botones/MENU_logo_fernando_tamayo.png)
}

#Yunta {
	background-image: url(../Contents/logos&botones/MENU_logo_jose_carrera.png)
}

#zenQbar {
	background-image: url(../Contents/logos&botones/MENU_logo_santiago_sologuren.png)
}
