
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
	font-size: 62.5%;
}

p, li, h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 20px;
	position: relative;
}

#page-wrap {
	background: url(../Contents/logos&botones/background2.png);
	background-size: 100% 100%;
	background-position: 0% 20%;
	min-width: 780px;
	width: 70%;
	max-width: 1260px;
	margin: 10px auto;
	position: fixed;
	left: 30%;
	}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.formamos {
	background-color: rgb(23, 171, 236);
	height:6vw;
	width:6vw;
	position: relative;
	top: 3vw;
	left:-10vw;
}

.formamos-p {
	position: relative;
	top: 35%;
	color: white;
	font-size: 1.10vw;
	text-align: center;

}

.aceleradora {
	position: relative;
	top: 2vw;
	left: -5.5vw;
	background-color: rgb(130, 230, 236);
	height:8vw;
	width: 8vw;
}

.form-lvl-p {
	position: relative;
	top: 40px;
	font-size: 1.30vw;
	text-align: center;
}

.description {
	background: white;
	overflow: auto;
	position: relative;
	left: -2vw;
	top: -5vw;
	width: 38vw;
	height: 38vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
}

.title {
	top:4.5vw;
}

.st {
	font-weight: bold;
	position: relative;
	left: 1.5vw;
	top: 6vw;
	font-size: 20px;
	width:35vw;
}

.overflow {
	position: relative;
	height: 15vw;
	width: 30vw;
	left: 4vw;
	top: 6vw;
	overflow: auto;
}


.sphere{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-size: 100% 100%;
	height: 5.5vw;
	width: 5.5vw;
	border: 1px solid black;
}

#Asociacion_Taller_Ninos {
	background: url(../Contents/fotos/MENU_sara_cifuentes.png);
	background-size: 100% 100%;
	position: absolute;
	top: 4vw;
	left: 25vw;

}

#Asociacion_Taller_Ninos:hover, #Asociacion_Taller_Ninos:active {
	background: url(../Contents/logos&botones/MENU_logo_Sara_Cifuentes.png);
	background-size: 100% 100%;
}

#Atomika {
		background: url(../Contents/fotos/MENU_ericka_pavletich.png);
	background-size: 100% 100%;
	position: absolute;
	top: 8vw;
	left: 32vw;
}

#Atomika:hover, #Atomika:active {
	background: url(../Contents/logos&botones/MENU_logo_erika_pavletich.png);
	background-size: 100% 100%;
}

#Bederr {
	background: url(../Contents/fotos/MENU_mario_gil.png);
	background-size: 100% 100%;
	position: absolute;
	top: 3vw;
	left: 37vw;
}

#Bederr:hover, #Bederr:active {
	background: url(../Contents/logos&botones/MENU_logo_mario_gil.png);
	background-size: 100% 100%;
}

#Bocadio {
	background: url(../Contents/fotos/MENU_diego_echecopar.png);
	background-size: 100% 100%;
	position: absolute;
	top: 5vw;
	left: 45vw;
}

#Bocadio:hover, #Bocadio:active {
	background: url(../Contents/logos&botones/MENU_logo_diego_echecopar.png);
	background-size: 100% 100%;
}

#Diloo {
	background: url(../Contents/fotos/MENU_jose_ignacio_bernal.png);
	background-size: 100% 100%;
	position: absolute;
	top: 3vw;
	left: 53vw;
}

#Diloo:hover, #Dillo:active {
	background: url(../Contents/logos&botones/MENU_logo_jose_ignacio_bernal.png);
	background-size: 100% 100%;
}

#Doktuz {
	background: url(../Contents/fotos/MENU_abraham_abramovitz.png);
	background-size: 100% 100%;
	position: absolute;
	top: 6vw;
	left: 60vw;
}

#Doktuz:hover, #Doktuz:active {
	background: url(../Contents/logos&botones/MENU_logo_abraham_abramovitz.png);
	background-size: 100% 100%;
}

#Donante_Pendiente {
	background: url(../Contents/fotos/MENU_vanessa_vargas.png);
	background-size: 100% 100%;
	position: absolute;
	top: 10vw;
	left:39vw;
}

#Donante_Pendiente:hover, #Donante_Pendiente:active {
	background: url(../Contents/logos&botones/MENU_logo_vanessa_vasquez.png);
	background-size: 100% 100%;
}

#Equus_Corporation {
	background: url(../Contents/fotos/MENU_paola_quintana.png);
	background-size: 100% 100%;
	position: absolute;
	top: 12vw;
	left: 47vw;
}

#Equus_Corporation:hover, #Equus_Corporation:active {
	background: url(../Contents/logos&botones/MENU_logo_paola_quintana.png);
	background-size: 100% 100%;
}

#Health_Coaches {
	background: url(../Contents/fotos/MENU_erika_echegaray.png);
	background-size: 100% 100%;
	position: absolute;
	top: 10vw;
	left: 54vw;
}

#Health_Coaches:hover, #Health_Coaches:active {
	background: url(../Contents/logos&botones/MENU_logo_ericka_echegaray.png);
	background-size: 100% 100%;
}

#Infusion {
	background: url(../Contents/fotos/MENU_blythe.png);
	background-size: 100% 100%;
	position: absolute;
	top: 15vw;
	left: 35vw;
}

#Infusion:hover, #Infusion:active {
	background: url(../Contents/logos&botones/MENU_logo_blythe_muro.png);
	background-size: 100% 100%;
}

#Kallku {
	background: url(../Contents/fotos/MENU_vanesa_rubina.png);
	background-size: 100% 100%;
	position: absolute;
	top: 17vw;
	left: 42vw;
}

#Kallku:hover, #Kallku:active {
	background: url(../Contents/logos&botones/MENU_logo_vanesa_rubina.png);
	background-size: 100% 100%;
}

#Kokisimo {
	background: url(../Contents/fotos/MENU_brenda_herrera.png);
	background-size: 100% 100%;
	position: absolute;
	top: 14vw;
	left: 60vw;
}

#Kokisimo:hover, #Kokisimo:active {
	background-image: url(../Contents/logos&botones/MENU_logo_Brenda_Herrera.png);
	background-size: 100% 100%;
}

#Lulipa {
	background: url(../Contents/fotos/MENU_nati_agois.png);
	background-size: 100% 100%;
	position: absolute;
	top: 17vw;
	left: 54vw;
}

#Lulipa:hover, #Lulipa:active {
	background: url(../Contents/logos&botones/MENU_logo_nati_agois.png);
	background-size: 100% 100%;
}

#Mi_Media_Manzana {
	background: url(../Contents/fotos/MENU_pedro_neira.png);
	background-size: 100% 100%;
	position: absolute;
	top: 23vw;
	left: 38vw;
}

#Mi_Media_Manzana:hover, #Mi_Media_Manzana:active {
	background: url(../Contents/logos&botones/MENU_logo_Pedro_Neira.png);
	background-size: 100% 100%;
}

#Moldes {
	background: url(../Contents/fotos/MENU_katia_de_la_cruz.png);
	background-size: 100% 100%;
	position: absolute;
	top: 19vw;
	left: 48vw;
}

#Moldes:hover, #Moldes:active {
	background: url(../Contents/logos&botones/MENU_logo_katia_de_la_cruz.png);
	background-size: 100% 100%;
}

#My_Bump_Ac {
	background: url(../Contents/fotos/MENU_luciana_rey.png);
	background-size: 100% 100%;
	position: absolute;
	top: 21vw;
	left: 60vw;
}

#My_Bump_Ac:hover, #My_Bump_Ac:active {
	background: url(../Contents/logos&botones/MENU_logo_Luciana_Rey.png);
	background-size: 100% 100%;
}

#Peru_Apps {
	background: url(../Contents/fotos/MENU_julio_ramon.png);
	background-size: 100% 100%;
	position: absolute;
	top: 25vw;
	left: 45vw;
}

#Peru_Apps:hover, #Peru_Apps:active {
	background: url(../Contents/logos&botones/MENU_logo_julio_ramon.png);
	background-size: 100% 100%;
}

#PickApp {
	background: url(../Contents/fotos/MENU_felix_ipanaque.png);
	background-size: 100% 100%;
	position: absolute;
	top: 24vw;
	left: 53vw;
}

#PickApp:hover, #PickApp:active {
	background: url(../Contents/logos&botones/MENU_logo_felix_ipanaque.png);
	background-size: 100% 100%;
}

#Planeta_Oceano {
	background: url(../Contents/fotos/MENU_kerstin_forsberg.png);
	background-size: 100% 100%;
	position: absolute;
	top: 30vw;
	left: 40vw;
}

#Planeta_Oceano:hover, #Planeta_Oceano:active {
	background: url(../Contents/logos&botones/MENU_logo_kerstin_forsberg.png);
	background-size: 100% 100%;
}

#Qempo {
	background: url(../Contents/fotos/MENU_anson_tou.png);
	background-size: 100% 100%;
	position: absolute;
	top: 30vw;
	left: 50vw;
}

#Qempo:hover, #Qempo:active {
	background: url(../Contents/logos&botones/perfil_logo_anson_tou.png);
	background-size: 100% 100%;
}

#Riqra {
	background: url(../Contents/fotos/MENU_jaime_chiarella.png);
	background-size: 100% 100%;
	position: absolute;
	top: 28vw;
	left: 60vw;
}

#Riqra:hover, #Riqra:active {
	background: url(../Contents/logos&botones/MENU_logo_jaime_chiarella.png);
	background-size: 100% 100%;
}

#Spray_Wash_Ac {
	background: url(../Contents/fotos/MENU_ricardo_armas_samuel.png);
	background-size: 100% 100%;
	position: absolute;
	top: 35vw;
	left: 45vw;
}

#Spray_Wash_Ac:active, #Spray_Wash_Ac:hover {
	background: url(../Contents/logos&botones/MENU_logo_Ricardo_Armas.png);
	background-size: 100% 100%;
}

#Turismoi {
	background: url(../Contents/fotos/MENU_diego_arbulu.png);
	background-size: 100% 100%;
	position: absolute;
	top: 34vw;
	left: 56vw;
}

#Turismoi:hover, #Turismoi:active {
	background: url(../Contents/logos&botones/MENU_logo_diego_arbulu.png);
	background-size: 100% 100%;
}

#Up_Peru {
	background: url(../Contents/fotos/MENU_amadeus_malca.png);
	background-size: 100% 100%;
	position: absolute;
	top: 38vw;
	left: 37vw;
}

#Up_Peru:hover, #Up_Peru:active {
	background: url(../Contents/logos&botones/MENU_logo_Amadeus_Malca.png);
	background-size: 100% 100%;
}

#Vecinos360 {
	background: url(../Contents/fotos/MENU_gonzalo_rossello.png);
	background-size: 100% 100%;
	position: absolute;
	top: 38vw;
	left: 51vw;
}

#Vecinos360:hover, #Vecinos360:active {
	background: url(../Contents/logos&botones/MENU_logo_gonzalo_rossello.png);
	background-size: 100% 100%;
}

#Yaqua {
	background: url(../Contents/fotos/MENU_fernando_tamayo.png);
	background-size: 100% 100%;
	position: absolute;
	top: 44vw;
	left: 47vw;
}

#Yaqua:hover, #Yaqua:active {
	background: url(../Contents/logos&botones/MENU_logo_fernando_tamayo.png);
	background-size: 100% 100%;
}

#Yunta {
	background: url(../Contents/fotos/MENU_jose_carrera.png);
	background-size: 100% 100%;
	position: absolute;
	top: 50vw;
	left: 35vw;
}

#Yunta:hover, #Yunta:active {
	background: url(../Contents/logos&botones/MENU_logo_jose_carrera.png);
	background-size: 100% 100%;
}

#zenQbar {
	background: url(../Contents/fotos/MENI_santiago_sologuren.png);
	background-size: 100% 100%;
	position: absolute;
	top: 50vw;
	left:  56vw;
}

#zenQbar:hover, #zenQbar:active {
	background: url(../Contents/logos&botones/MENU_logo_santiago_sologuren.png);
	background-size: 100% 100%;
}

/*Twicks to the side menu */
#fb-logo {
	bottom: 1.9vh;
}

#twitter-logo {
	top: -6.3vh !important;
}

#vimeo-logo {
	top: -10.6vh !important;
}
