body, ul {
	list-style: none;
	text-decoration: none;
}

p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
}

#video-overlay {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
}

#video-container {
	width: 960px;
	position: fixed;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	color: rgb(130, 130, 130);
} #video-container p:hover {
	cursor: pointer;
	color: white;
}

#background {
	width: 87%;
	position: fixed;
	left: 13%;
	height: 100%;

}

.bubble, .bubble2 {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.bubble {
	z-index: 2;
}

.formamos {
	position: fixed;
	top: 2.4vh;
	left: 15.7vw;
	height: 8.6vh;
	width: 8.6vh;
	border: 0.55vh solid #c7c9c9;
	background-color: #18afb4;
}

.formamos-p {
	position: relative;
	top: 3.2vh;
	width: 100%;
	color: white;
	font-size: 1.3vh;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.aceleradora {
	position: fixed;
	top: 5.74vh;
	left: 17.4vw;
	height: 14.4vh;
	width: 14.4vh;
	border: solid 0.55vh #6d6e70;
	background-color: #63bfbd;
}

.aceleradora-p {
	position: relative;
	top: 5.1vh;
	width: 100%;
	color: white;
	font-size: 2.6vh;
	font-weight: lighter;
	text-align: center;
	text-transform: lowercase;
}

#logo {
	position: fixed;
	top: -13.2vh;
	left: 28.7vw;
	height: 59.8vh;
	width: 59.8vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 0.3vh rgb(130, 130, 130);

	background-color: white;
	text-align: center;
}

.logo {
	position: relative;
	top: 12.8vh;
	height: 12.5vh;
}

.quote {
	position: relative;
	top: 12.5vh;
	left: 7.5%;
	width: 85%;

	font-weight: normal;
	color: rgb(23, 171, 180);
	font-size: 3vh;
	line-height: 3.6vh;
}

.video {
	background: url(../Contents/logos&botones/boton_video_blanco.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 4.6vh;
	width: 21.6vh;
	border: none;
	position: absolute;

	visibility: hidden;
}

.video:hover {
	cursor: pointer;
}


.video:active {
	background: url(../Contents/logos&botones/boton_video_negro.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 4.6vh;
	width: 21.6vh;
	border: none;
	cursor: pointer;
}

#info {
	position: fixed;
	top: 38.8vh;
	left: 16.8vw;
	width: 38.6vw;
	height: 50.9vh;

	font-size: 2.2vh;
	font-weight: lighter;
	/*}#info .story {
		margin: 20px 20px 0px 20px;
		padding-top: 10px;
		padding-bottom: 20px;*/
	}


.story {
	position: relative;
	overflow: auto;
	top: 7vh;
	height: 33.79vh;
	line-height: 2.5vh;
	color: white;
}

.intro{
	text-transform: uppercase;
}

#namecard, .txt, .txt2 {
	color: white;
}

#namecard {
	font-weight: bold;
	font-size: 22px;
	position: relative;
	top: -15px;
}

.contact {
	position: absolute;
	top: 42vh;
	left: 6.72vw;
	/*line-height: 1vh;*/
	color: white;
}

.email, .web, .email2 {
	padding-left: 0;
}


.facebook-logo {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 35px;
	position: relative;
	left: -15%;
	top: 0%;

	visibility: hidden;
}

.insta-logo {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 35px;
	position: relative;
	left: 0;
	top: -50px;

	visibility: hidden;
}

.twt-logo {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 35px;
	position: relative;
	top: -100px;
	left: 80px;

	visibility: hidden;
}

.in-logo {
	visibility: hidden;
}


.contact a {
	color: rgb(130, 230, 236)
}

/*Twicks to the side menu */
#fb-logo {
	bottom: 1.9vh;
}

#twitter-logo {
	top: -6.3vh !important;
}

#vimeo-logo {
	top: -10.6vh !important;
}

/*Bottom Nav*/
.nav-parent {
	position: absolute;
	width: 60%;
	left: 20vw;
	overflow: auto;
	display: none;
}

.nav-container {
	position:relative;
  	overflow:hidden;
  	background:#444;
  	width:100%;
  	height:262px;
  	white-space:nowrap;
}

.nav {
	vertical-align: middle;
 	 height: 260px;
 	 display:inline;
  	margin-left:-4px;
}
