
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
	font-size: 62.5%;
}

p, li, h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 20px;
	position: relative;
}

#page-wrap {
	background: url(../Contents/logos-botones/background2.png);
	background-size: 100% 100%;
	background-position: 0% 20%;
	min-width: 780px;
	width: 70%;
	max-width: 1260px;
	margin: 10px auto;
	position: fixed;
	left: 30%;
	}


.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.formamos-before {
	position: fixed;
	top: 3.12vh;
	left: 19.3vw;
	width: 11.8vh;
	height: 11.8vh;
	border: 0.43vh solid #eceded;
	background-color: #eceded;
}


.formamos {
	position: relative;
	top: 0.1vh;
	left: 0.1vh;
	height: 10.7vh;
	width: 10.7vh;
	border: 0.55vh solid #c7c9c9;
	background-color: #18afb4;
}

.formamos-p {
	position: relative;
	top: 4.1vh;
	width: 100%;
	color: white;
	font-size: 1.50vh;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;

}

.aceleradora {
	position: fixed;
	top: 17.3vh;
	left: 14.4vw;
	height: 23vh;
	width: 23vh;
	border: solid 0.74vh #6d6e70;
	background-color: #63bfbd;
}

.form-lvl-p {
	position: relative;
	top: 7.8vh;
	width: 100%;
	color: white;
	font-size: 3.8vh;
	font-weight: lighter;
	text-align: center;
	text-transform: lowercase;
}

.description {
	background: #f1f2f2;
	overflow: auto;
	position: fixed;
	left: 26.8vw;
	top: 31.3vh;
	width: 65.6vh;
	height: 65.6vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 0.5vh #6d6e70;
}

.title {
	top:4.5vw;
}

.st {
	position: relative;
	left: 10%;
	top: 16vh;
	width: 80%;
	font-weight: bold;
	font-style: italic;
	font-size: 2.4vh;
	line-height: 3.2vh;
}

.overflow {
	position: relative;
	height: 25vh;
	width: 80%;
	left: 10%;
	top: 19vh;
	overflow: auto;
}

.txt {
	font-weight: lighter;
	font-size: 2.3vh;
	line-height: 3.2vh;
}


.sphere{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-size: 100% 100%;
	height: 9.7vh;
	width: 9.7vh;
	border: 0.2vh solid #6d6e70;
	transition: background 0.4s;
} .sphere:hover{
	transition: background 0.4s;
}

#Asociacion_Taller_Ninos {
	background: url(../Contents/fotos/MENU_sara_cifuentes.png);
	background-size: 100% 100%;
	position: absolute;
	top: 83.5vh;
	left: 38vw;

}

#Asociacion_Taller_Ninos:hover, #Asociacion_Taller_Ninos:active {
	background: url(../Contents/logos-botones/MENU_logo_Sara_Cifuentes.png);
	background-size: 100% 100%;
}

#Atomika {
	background: url(../Contents/fotos/MENU_ericka_pavletich.png);
	background-size: 100% 100%;
	position: absolute;
	top: 14.2vh;
	left: 34vw;
}

#Atomika:hover, #Atomika:active {
	background: url(../Contents/logos-botones/MENU_logo_erika_pavletich.png);
	background-size: 100% 100%;
}

#Bederr {
	background: url(../Contents/fotos/MENU_mario_gil.png);
	background-size: 100% 100%;
	position: absolute;
	top: 4.1vw;
	left: 40vw;
}

#Bederr:hover, #Bederr:active {
	background: url(../Contents/logos-botones/MENU_logo_mario_gil.png);
	background-size: 100% 100%;
}

#Bocadio {
	background: url(../Contents/fotos/MENU_diego_echecopar.png);
	background-size: 100% 100%;
	position: absolute;
	top: 11.5vh;
	left: 47.5vw;
}

#Bocadio:hover, #Bocadio:active {
	background: url(../Contents/logos-botones/MENU_logo_diego_echecopar.png);
	background-size: 100% 100%;
}

#Diloo {
	background: url(../Contents/fotos/MENU_jose_ignacio_bernal.png);
	background-size: 100% 100%;
	position: absolute;
	top: 8.8vh;
	left: 60vw;
}

#Diloo:hover, #Dillo:active {
	background: url(../Contents/logos-botones/MENU_logo_jose_ignacio_bernal.png);
	background-size: 100% 100%;
}

#Doktuz {
	background: url(../Contents/fotos/MENU_abraham_abramovitz.png);
	background-size: 100% 100%;
	position: absolute;
	top: 16vh;
	left: 54vw;
}

#Doktuz:hover, #Doktuz:active {
	background: url(../Contents/logos-botones/MENU_logo_abraham_abramovitz.png);
	background-size: 100% 100%;
}

#Donante_Pendiente {
	background: url(../Contents/fotos/MENU_vanessa_vargas.png);
	background-size: 100% 100%;
	position: absolute;
	top: 19.5vh;
	left:42vw;
}

#Donante_Pendiente:hover, #Donante_Pendiente:active {
	background: url(../Contents/logos-botones/MENU_logo_vanessa_vasquez.png);
	background-size: 100% 100%;
}

#Equus_Corporation {
	background: url(../Contents/fotos/MENU_paola_quintana.png);
	background-size: 100% 100%;
	position: absolute;
	top: 24.8vh;
	left: 48.5vw;
}

#Equus_Corporation:hover, #Equus_Corporation:active {
	background: url(../Contents/logos-botones/MENU_logo_paola_quintana.png);
	background-size: 100% 100%;
}

#Health_Coaches {
	background: url(../Contents/fotos/MENU_erika_echegaray.png);
	background-size: 100% 100%;
	position: absolute;
	top: 22.2vh;
	left: 61vw;
}

#Health_Coaches:hover, #Health_Coaches:active {
	background: url(../Contents/logos-botones/MENU_logo_ericka_echegaray.png);
	background-size: 100% 100%;
}

#Infusion {
	background: url(../Contents/fotos/MENU_blythe.png);
	background-size: 100% 100%;
	position: absolute;
	top: 26.6vh;
	left: 36vw;
}

#Infusion:hover, #Infusion:active {
	background: url(../Contents/logos-botones/MENU_logo_blythe_muro.png);
	background-size: 100% 100%;
}

#Kallku {
	background: url(../Contents/fotos/MENU_vanesa_rubina.png);
	background-size: 100% 100%;
	position: absolute;
	top: 32vh;
	left: 43vw;
}

#Kallku:hover, #Kallku:active {
	background: url(../Contents/logos-botones/MENU_logo_vanesa_rubina.png);
	background-size: 100% 100%;
}

#Kokisimo {
	background: url(../Contents/fotos/MENU_brenda_herrera.png);
	background-size: 100% 100%;
	position: absolute;
	top: 30.2vh;
	left: 55vw;
}

#Kokisimo:hover, #Kokisimo:active {
	background-image: url(../Contents/logos-botones/MENU_logo_Brenda_Herrera.png);
	background-size: 100% 100%;
}

#Lulipa {
	background: url(../Contents/fotos/MENU_nati_agois.png);
	background-size: 100% 100%;
	position: absolute;
	top: 39.1vh;
	left: 49vw;
}

#Lulipa:hover, #Lulipa:active {
	background: url(../Contents/logos-botones/MENU_logo_nati_agois.png);
	background-size: 100% 100%;
}

#Mi_Media_Manzana {
	background: url(../Contents/fotos/MENU_pedro_neira.png);
	background-size: 100% 100%;
	position: absolute;
	top: 40.8vh;
	left: 38vw;
}

#Mi_Media_Manzana:hover, #Mi_Media_Manzana:active {
	background: url(../Contents/logos-botones/MENU_logo_Pedro_Neira.png);
	background-size: 100% 100%;
}

#Moldes {
	background: url(../Contents/fotos/MENU_katia_de_la_cruz.png);
	background-size: 100% 100%;
	position: absolute;
	top: 37.3vh;
	left: 62.5vw;
}

#Moldes:hover, #Moldes:active {
	background: url(../Contents/logos-botones/MENU_logo_katia_de_la_cruz.png);
	background-size: 100% 100%;
}

#My_Bump_Ac {
	background: url(../Contents/fotos/MENU_luciana_rey.png);
	background-size: 100% 100%;
	position: absolute;
	top: 44.4vh;
	left: 56vw;
}

#My_Bump_Ac:hover, #My_Bump_Ac:active {
	background: url(../Contents/logos-botones/MENU_logo_Luciana_Rey.png);
	background-size: 100% 100%;
}

#Peru_Apps {
	background: url(../Contents/fotos/MENU_julio_ramon.png);
	background-size: 100% 100%;
	position: absolute;
	top: 48vh;
	left: 44vw;
}

#Peru_Apps:hover, #Peru_Apps:active {
	background: url(../Contents/logos-botones/MENU_logo_julio_ramon.png);
	background-size: 100% 100%;
}

#PickApp {
	background: url(../Contents/fotos/MENU_felix_ipanaque.png);
	background-size: 100% 100%;
	position: absolute;
	top: 55.1vh;
	left: 51vw;
}

#PickApp:hover, #PickApp:active {
	background: url(../Contents/logos-botones/MENU_logo_felix_ipanaque.png);
	background-size: 100% 100%;
}

#Planeta_Oceano {
	background: url(../Contents/fotos/MENU_kerstin_forsberg.png);
	background-size: 100% 100%;
	position: absolute;
	top: 56.8vh;
	left: 38vw;
}

#Planeta_Oceano:hover, #Planeta_Oceano:active {
	background: url(../Contents/logos-botones/MENU_logo_kerstin_forsberg.png);
	background-size: 100% 100%;
}

#Qempo {
	background: url(../Contents/fotos/MENU_anson_tou.png);
	background-size: 100% 100%;
	position: absolute;
	top: 62.2vh;
	left: 57vw;
}

#Qempo:hover, #Qempo:active {
	background: url(../Contents/logos-botones/MENU_logo_anson_tou.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: white;
}

#Riqra {
	background: url(../Contents/fotos/MENU_jaime_chiarella.png);
	background-size: 100% 100%;
	position: absolute;
	top: 53.3vh;
	left: 62vw;
}

#Riqra:hover, #Riqra:active {
	background: url(../Contents/logos-botones/MENU_logo_jaime_chiarella.png);
	background-size: 100% 100%;
}

#Spray_Wash_Ac {
	background: url(../Contents/fotos/MENU_ricardo_armas_samuel.png);
	background-size: 100% 100%;
	position: absolute;
	top: 62.2vh;
	left: 45vw;
}

#Spray_Wash_Ac:active, #Spray_Wash_Ac:hover {
	background: url(../Contents/logos-botones/MENU_logo_Ricardo_Armas.png);
	background-size: 100% 100%;
}

#Turismoi {
	background: url(../Contents/fotos/MENU_diego_arbulu.png);
	background-size: 100% 100%;
	position: absolute;
	top: 71.1vh;
	left: 52vw;
}

#Turismoi:hover, #Turismoi:active {
	background: url(../Contents/logos-botones/MENU_logo_diego_arbulu.png);
	background-size: 100% 100%;
}

#Up_Peru {
	background: url(../Contents/fotos/MENU_amadeus_malca.png);
	background-size: 100% 100%;
	position: absolute;
	top: 69.3vh;
	left: 35vw;
}

#Up_Peru:hover, #Up_Peru:active {
	background: url(../Contents/logos-botones/MENU_logo_Amadeus_Malca.png);
	background-size: 100% 100%;
}

#Vecinos360 {
	background: url(../Contents/fotos/MENU_gonzalo_rossello.png);
	background-size: 100% 100%;
	position: absolute;
	top: 81.7vh;
	left: 48vw;
}

#Vecinos360:hover, #Vecinos360:active {
	background: url(../Contents/logos-botones/MENU_logo_gonzalo_rossello.png);
	background-size: 100% 100%;
}

#Yaqua {
	background: url(../Contents/fotos/MENU_fernando_tamayo.png);
	background-size: 100% 100%;
	position: absolute;
	top: 74.6vh;
	left: 60vw;
}

#Yaqua:hover, #Yaqua:active {
	background: url(../Contents/logos-botones/MENU_logo_fernando_tamayo.png);
	background-size: 100% 100%;
}

#Yunta {
	background: url(../Contents/fotos/MENU_jose_carrera.png);
	background-size: 100% 100%;
	position: absolute;
	top: 72.8vh;
	left: 42vw;
}

#Yunta:hover, #Yunta:active {
	background: url(../Contents/logos-botones/MENU_logo_jose_carrera.png);
	background-size: 100% 100%;
}

#zenQbar {
	background: url(../Contents/fotos/MENI_santiago_sologuren.png);
	background-size: 100% 100%;
	position: absolute;
	top: 85.3vh;
	left:  56vw;
}

#zenQbar:hover, #zenQbar:active {
	background: url(../Contents/logos-botones/MENU_logo_santiago_sologuren.png);
	background-size: 100% 100%;
}

/*Twicks to the side menu */
#fb-logo {
	bottom: 1.9vh;
}

#twitter-logo {
	top: -6.3vh !important;
}

#vimeo-logo {
	top: -10.6vh !important;
}
