body, ul {
	list-style: none;
	text-decoration: none;
}

p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

.contact a {
	text-decoration: none;
	color: rgb(130, 230, 236);
}

a:visited {
	text-decoration: none;
}

.bubble, .bubble2 {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.bubble {
	z-index: 2;
}

.formamos {
	position: fixed;
	top: 2.4vh;
	left: 15.7vw;
	height: 8.6vh;
	width: 8.6vh;
	border: 0.55vh solid #c7c9c9;
	background-color: #18afb4;
}

.formamos-p {
	position: relative;
	top: 3.2vh;
	width: 100%;
	color: white;
	font-size: 1.3vh;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.asesorias {
	position: fixed;
	top: 5.74vh;
	left: 17.4vw;
	height: 14.4vh;
	width: 14.4vh;
	border: solid 0.55vh #6d6e70;
	background-color: #63bfbd;
	/*z-index: -1;*/
}

.asesorias-p {
	position: relative;
	top: 5.4vh;
	width: 100%;
	color: white;
	font-size: 2.6vh;
	font-weight: lighter;
	text-align: center;
	text-transform: lowercase;
}

#logo {
	position: absolute;
	top: -10vh;
	left: 24vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 4px rgb(130, 130, 130);
	background-color: white;
	height: 45vh;
	width: 45vh;
	text-align: center;
	/*z-index: -1;*/
}

#info {
	width: 40vw;
	height: 20vw;
	position: fixed;
	top: 25vw;
	left: 16vw;
	}#info .story {
		margin: 20px 20px 0px 20px;
		padding-top: 10px;
		padding-bottom: 20px;
	}

.story {
	position: absolute;
	overflow: auto;
	height: 24vh;
	top: -4vh;
	color: white;
}

#quote {
	font-size: 2.4vh;
	font-weight: lighter;
}

#name {
	font-size: 3.3vh;
	font-weight: lighter;
}

.contact {
	position: absolute;
	top: 25vh;
	left: 6.72vw;
	font-size: 2.4vh;
	font-weight: lighter;
	color: white;
}

.email, .web {
	padding-left: 0;
}


.facebook-logo {
	border-radius: 50%;
	height: 35px;
	position: relative;
	left: -40px;

	visibility: hidden;
}

/*Twicks to the side menu */
#fb-logo {
	bottom: 1.9vh;
}

#twitter-logo {
	top: -6.3vh !important;
}

#vimeo-logo {
	top: -10.6vh !important;
}
