
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
	font-size: 62.5%;
}

p, li, h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 2vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 20px;
	position: relative;
}

#page-wrap {
	position: relative;
	left: 11.92vw;
	width: 100%;
	height: 100%;
	min-width: 780px;
	max-width: 1693px;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: white;
	background: url("../Contents/logos&botones/backgroundClear1080.png");
	background-repeat: no-repeat;
	background-position: left 11.92vw top 0;
	background-attachment: fixed;
	-webkit-background-size: auto auto;
	-moz-background-size: auto auto;
	background-size: auto auto;
}

.background {
	position: fixed;
	top: -29vh;
	left: 26.2vw;
	height: 54.395vh;
	width: 56.649vh;
	background: url("../Contents/logos&botones/bkgSpheresMain1080.png");
	background-size: contain;
}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.formamos-before {
	position: fixed;
	top: 3.12vh;
	left: 30vw;
	width: 11.8vh;
	height: 11.8vh;
	border: 0.43vh solid #eceded;
	background-color: #eceded;
}


.formamos {
	position: relative;
	top: 0.05vh;
	left: 0.05vh;
	height: 10.7vh;
	width: 10.7vh;
	border: 0.55vh solid #c7c9c9;
	background-color: #18afb4;
}

.formamos-p {
	position: relative;
	top: 4.1vh;
	width: 100%;
	color: white;
	font-size: 1.50vh;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;

}

.asesorias {
	position: fixed;
	top: 15.7vh;
	left: 19.9vw;
	height: 23vh;
	width: 23vh;
	border: solid 0.74vh #6d6e70;
	background-color: #63bfbd;
}

.form-lvl-p {
	position: relative;
	top: 7.8vh;
	width: 100%;
	color: white;
	font-size: 3.8vh;
	font-weight: lighter;
	text-align: center;
	text-transform: lowercase;
}

.description {
	background: #f1f2f2;
	overflow: auto;
	position: fixed;
	left: 26.8vw;
	top: 31.3vh;
	width: 65.6vh;
	height: 65.6vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 0.5vh #6d6e70;
}

.title {
	top:4.5vw;
}

.st {
	position: relative;
	left: 10%;
	top: 16vh;
	width: 80%;
	font-weight: bold;
	font-style: italic;
	font-size: 2.8vh;
	line-height: 3.5vh;
}

.overflow {
	position: relative;
	height: 27vh;
	width: 85%;
	left: 7.5%;
	top: 19vh;
	overflow: auto;
}

.txt {
	font-weight: lighter;
	font-size: 2.6vh;
	line-height: 3.5vh;
}


.sphere{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-size: 100% 100%;
	height: 11.7vh;
	width: 11.7vh;
	border: 0.2vh solid #6d6e70;
	transition: background 0.2s;
} .sphere:hover{
	transition: background 0.2s;
}

#como_nuevo {
	background: url(../Contents/fotos/MENU_rodolfo_pozo.png);
	background-size: 100% 100%;
	position: fixed;
	top: 13.8vh;
	left: 56vw;
}

#como_nuevo:active, #como_nuevo:hover {
	background: url(../Contents/logos&botones/MENU_logo_rodolfo_pozo.png);
	background-size: 100% 100%;
	position: fixed;
}


#my_bump {
	background: url(../Contents/fotos/MENU_luciana_rey.png);
	background-size: 100% 100%;
	position: fixed;
	top: 26.9vh;
	left: 63.4vw;
}


#my_bump:active, #my_bump:hover {
	background: url(../Contents/logos&botones/MENU_logo_Luciana_Rey.png);
	background-size: 100% 100%;
	position: fixed;
}

#spray_wash {
	background: url(../Contents/fotos/MENU_ricardo_armas_samuel.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
	top: 46.5vh;
	left: 69.6vw;
}

#spray_wash:active, #spray_wash:hover {
	background: url(../Contents/logos&botones/MENU_logo_Ricardo_Armas.png);
	background-size: 100% 100%;
	position: fixed;
}

/*Twicks to the side menu */
#fb-logo {
	bottom: 1.9vh;
}

#twitter-logo {
	top: -6.3vh !important;
}

#vimeo-logo {
	top: -10.6vh !important;
}
