#background {

	background: url(../Contents/fotos/ACELERADORA_sara_cifuentes.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#logo {
	height: 31vw;
	width: 31vw;
}

.logo {
	height: 25%;
	position: absolute;
	top: 20%;
	left: 15%;
}

.quote {
	position: relative;
	top: 25vh;
}

.story p {
	color: white;
}
