#background {

	background: url(../Contents/fotos/ASESORIA_Rodolfo_Pozo.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

# {
	position: absolute;
	top: -10vw;
	left: 25vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 5;
	border-radius: 50%;
	border: solid 4px rgb(130, 130, 130);
	background-color: white;
	height: 33vw;
	width: 33vw;
	text-align: center;
	z-index: -1;
}


.logo {
	position: absolute;
	top: 30%;
	left: 8%;
}

.story p {
	color: white;
}