
#background {

	background: url(../Contents/fotos/ACELERADORA_vanessa_vasquez.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#logo {
	height: 32vw;
	width: 32vw;
}

.logo {
	height: 25%;
	position: absolute;
	top: 12%;
	left: 27%;
}

.quote {
	position: relative;
	top: 10vw;
}

.video {
	top: 1vw;
}

.story {
	top: 2vw;
}

.story p {
	color: white;
}

.contact {
	top: 23vw;
}
