#page-background {
	background: url(../Contents/fotos/INCUBADORA_Jose_Francisco_Alvarez.png);
	background-position: 0 50%;
  background-size: auto 100%;
}

.logo {
	position: absolute;
	top: 45%;
	left: 5%;
	width: 90%;
}

.story p {
	color: white;
}
