* {
	margin: 0;
	padding: 0;
}


html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body, ul {
	list-style: none;
	text-decoration: none;
}

p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
}



#sidemenu {
	min-width:230px;
	width: 15%;
	max-width: 500px;
	height: 100%;
	border: none;
	padding-right: 0;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-right: 20px;
	background-color: rgb(238, 238, 238);
	position: fixed;
	overflow: hidden;
	font-family: 'Nunito', sans-serif;
	font-weight: light;
}

#menu-front {
	padding-top: 10px;
	padding-left: 20%;
	width: 70px;
	height: 90px;
	margin: 10px auto;
	position: relative;
	}
	

.menu-txt-1 {
	color: grey;
	text-align: center;
	position: relative;
	left: -20px;
	top: -10px;
}

#hist-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: #969696;
	width: 35px;
	height: 35px;
	top: -15px;
	left: 75px;
}

.menu-txt-2 {
	color: grey;
	text-align: center;
	position: relative;
	left: -20px;
	top: -40px;
}

#formamos-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(23, 171, 236);
	width: 35px;
	height: 35px;
	top: -15px;
	left: 75px;
}

.menu-txt-3 {
	color: grey;
	text-align: center;
	position: relative;
	top: -65px;
	left: -20px;
}

.menu-txt-4 {
	color: grey;
	text-align: center;
	position: relative;
	top: -95px;
	left: -20px;
}

.menu-txt-5 {
	color: grey;
	text-align: center;
	position: relative;
	top: -130px;
	left: -20px;
}

#incubadora-bubble,  #aceleradora-bubble, #asesoria-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(130, 230, 236);
	width: 30px;
	height: 30px;
	left: 75px;
	top: -15px;
}

.menu-txt-6 {
	color: grey;
	text-align: center;
	position: relative;
	top: -160px;
	left: -20px;
}

#creamos-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(23, 137, 180);
	width: 35px;
	height: 35px;
	top: -15px;
	left: 75px;
}

.menu-txt-7 {
	color: grey;
	text-align: center;
	position: relative;
	top: -190px;
	left: -20px;
}

.menu-txt-8 {
	color: grey;
	text-align: center;
	position: relative;
	top: -220px;
	left: -20px;
}

#lab-cor-bubble, #lab-pat-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(91, 204, 246);
	width: 30px;
	height: 30px;
	top: -15px;
	left: 75px;
}

.menu-txt-9 {
	color: grey;
	text-align: center;
	position: relative;
	top: -250px;
	left: -20px;

}

#patriotas-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: white;
	width: 35px;
	height: 35px;
	top: -15px;
	left: 75px;
}

#page-wrap {
	min-width: 780px;
	max-width: 1260px;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: white;
	background: url("ybackground.png");
	background-repeat: no-repeat;
	background-position: left 65% top 20%;
	background-attachment: fixed;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	position: relative;
	left: 15%;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	}
	#page-wrap #inside {
		margin: 10px 10px 0px 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

.u-nav {
	width: 230px;
	height: 80%;
}


#line {
	background-color: black;
	border-style: none;
}

#social-network {
	position: relative;
	left: 10px;
	height: 50px;
	width: 230px;
	top: 10px;
}

.fb {
	float: left;
	left: 10px;
	padding: 5px;
	margin-left: 15%
}

#fb-logo {
	width: 35px;
	height: 35px;
	border-radius: 30%;
}

.twitter {
	float: left;
	left: 70px;
	padding: 5px;
}

#twitter-logo {
	width: 35px;
	height: 35px;
	border-radius: 25%;
}

.vimeo {
	float: left;
	left: 130px;
	padding: 5px;
}

#vimeo-logo {
	width: 35px;
	height: 35px;
	border-radius: 25%;
}

#social-network {
	height: 50px;
	margin: 10 0 10 0;
}

.contact-info {
	width: 230px;
}

.phone-num {
	text-align: center;
	position:relative;
	top: 20px;
	right: 40px;
}

.email-address{
	text-align: center;
	margin-top: -3px;
	padding: 3%;

}

#img.ybackground.png {
	width: 90%;
	height: 90%;
	position: relative;
	top: 0;
	left: 0;
}

.center-img {
	width: 13%;
	height: 20%;
	position: relative;
	left: -220px;
	top: -100px;
	z-index: 1;
}


.center {
	position: relative;
	top:50%;
	left: 50%;

	z-index: 1;

}

.bubble, .bubble2 {
	width: 150px;
	height: 150px;
}

.formamos {
	position: relative;
	top: 150px;
	left: 280px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 5;
	border-radius: 50%;
	border: 4px solid rgb(130, 130, 130);
	background-color: rgb(23, 171, 180);
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}



.formamos-p, .creamos-p, .patriotas-p {
	position: absolute;
	top: 40px;
	color: white;
	font-size: 24px;
	text-align: center;
}

.formamos-p {
	left: 20px;
}

.creamos-p {
	left: 30px;
}

.form-lvl-p {
	color: grey;
	font-size: 20px;
}

.formamos-level {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #8c8c8c;
	background-color: rgb(130, 230, 236);
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	height: 120px;
	width: 120px;
}

.formamos-level:before {
	content: " ";
	position: absolute;
	z-index: -1;
	border: 5pc solid #;
}

.asesorias {
	top: -30px;
	left: 100px;
}

.aceleradora {
	bottom: -5px;
	left: 150px;
}

.incubadora {
	top: -90px;
	left: 350px;
}

.cre-lvl-p {
	color:grey;
	top: 35px;
	font-size: 20px;
}

.creamos {
	position: relative;
	top: -550px;
	left: 730px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 4px solid #d2d2d2;
	background-color: rgb(23, 137, 180);
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
}

.creamos:before {
	content: " ";
	position: absolute;
	z-index: -1;
	border: 5pc solid #;
}

.creamos-p {
	color: white;

}

.creamos-level {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid rgb(210, 210, 210);
	background-color: rgb(91, 204, 246);
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	height: 120px;
	width: 120px;
}

.creamos-level:before {
	content: " ";
	position: absolute;
	z-index: -1;
	border: 5pc solid #;
}

.lab-corporativo {
	top: -650px;
	left: 950px ;
}

.lab-patriota {
	top: -650px;
	left: 800px;
}

.ynnovamos {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

}

.patriotas {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 4px solid black;
	background-color: white;
	font-family: 'Nunito' sans-serif;
	font-size: 22px;
	vertical-align: middle;
	text-align: center;
	top: -1100px;
	left: 300px;
}



