
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
	font-size: 62.5%;
}

p, li, h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 5vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 20px;
	position: relative;
}

#page-wrap {
	background: white;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
	position: fixed;
	left: 30%;
	}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.formamos {
	background-color: rgb(23, 171, 236);
	height:6vw;
	width:6vw;
	position: relative;
	top: 1vw;
	left:-10vw;
}

.formamos-p {
	position: relative;
	top: 35%;
	color: white;
	font-size: 1.10vw;
	text-align: center;

}

.incubadora {
	position: relative;
	left: -5vw;
	background-color: rgb(130, 230, 236);
	height:8vw;
	width: 8vw;
}

.form-lvl-p {
	position: relative;
	top: 40px;
	font-size: 1.30vw;
	text-align: center;
}

.description{
	overflow: auto;
	position: relative;
	top: 3vw;
	left: -12vw;
	width: 36vw;
	height: 36vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
}

.description-corp {
	overflow: auto;
	position: relative;
	left: 28vw;
	top: -33vw;
	width: 36vw;
	height: 36vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
}

.title {
	top:4.5vw;
	width: 30vw;
}

.title-2 {
	top:4.5vw;
	width: 26vw;
	left:5vw;
}

.st {
	font-weight: bold;
	position: relative;
	top: 5vw;
	font-size: 20px;
}

.overflow {
	position: relative;
	height: 15vw;
	width: 30vw;
	left: 3vw;
	top: 6vw;
	overflow: auto;
}

.sphere {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-size: 100% 100%;
	height: 8vw;
	width: 8vw;
}

#helpingdent {
	background: url(../Contents/fotos/MENU_jose_francisco_alvarez.png);
	background-size: 100% 100%;
	position: absolute;
	top: 40vw;
	left: -8vw;
}

#helpingdent:hover, #helpingdent:active {
	background: url(../Contents/logos&botones/MENU_logo_Jose_Francisco_Alvarez.png);
	background-size: 100% 100%;
}

#taller_de_los_ninos {
	background: url(../Contents/fotos/MENU_sara_cifuentes.png);
	background-size: 100% 100%;
	position: absolute;
	top: 45vw;
	left: 2vw;
}

#taller_de_los_ninos:hover, #taller_de_los_ninos:active {
	background: url(../Contents/logos&botones/MENU_logo_Sara_Cifuentes.png);
	background-size: 100% 100%;
}

#tierra_de_risas {
	background: url(../Contents/fotos/MENU_tatiana_feijoo.png);
	background-size: 100% 100%;
	position: absolute;
	top: 41vw;
	left: 12vw;
}

#tierra_de_risas:hover, #tierras_de_risas:active {
	background: url(../Contents/logos&botones/MENU_logo_tatiana_feijoo.png);
	background-size: 100% 100%;
}
