
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
	font-size: 62.5%;
}

p, li, h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: lighter;
	position: relative;
	top: 5vh;
	font-size: 3.5vh;
	line-height: 3.7vh;
	text-transform: uppercase;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 20px;
	position: relative;
}

#page-wrap {
	background: url(../Contents/logos&botones/background2.png);
	background-size: 130% 70%;
	background-position: 100% 5%;
	background-color: white;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
	position: fixed;
	left: 30%;
	}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.formamos-before {
	position: fixed;
	top: 3.12vh;
	left: 19.3vw;
	width: 11.8vh;
	height: 11.8vh;
	border: 0.43vh solid #eceded;
	background-color: #eceded;
}


.formamos {
	position: relative;
	top: 0.05vh;
	left: 0.05vh;
	height: 10.7vh;
	width: 10.7vh;
	border: 0.55vh solid #c7c9c9;
	background-color: #18afb4;
}

.formamos-p {
	position: relative;
	top: 4.1vh;
	width: 100%;
	color: white;
	font-size: 1.50vh;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;

}

.incubadora {
	position: fixed;
	top: 12.5vh;
	left: 27.3vw;
	height: 23vh;
	width: 23vh;
	border: solid 0.74vh #6d6e70;
	background-color: #63bfbd;
}

.form-lvl-p {
	position: relative;
	top: 7.8vh;
	width: 100%;
	color: white;
	font-size: 3.8vh;
	font-weight: lighter;
	text-align: center;
	text-transform: lowercase;
}

.description{
	overflow: auto;
	position: fixed;
	top: 42.2vh;
	left: 22.2vw;
	width: 45vh;
	height: 45vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 0.5vh #6d6e70;
	background: #f1f1f2;
	/*box-shadow: 1px;*/
}

.description-corp {
	overflow: auto;
	position: fixed;
	left: 45.4vw;
	top: 1.6vh;
	width: 45vh;
	height: 45vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 0.5vh #6d6e70;
	background: #f1f1f1;
}

.title {
	top:5.5vw;
	width: 100%;
}

.title-corp {
	top:3.5vw;
	width: 100%;
}

.st, .st-corp {
	position: relative;
	top: 16vh;
	left: 5%;
	width: 90%;
	font-weight: bold;
	font-style: italic;
	font-size: 1.8vh;
}

.st {
	top: 11vh;
}

.st-corp {
	top: 7vh;
}

.overflow, .overflow-corp {
	position: relative;
	height: 25vh;
	width: 85%;
	left: 7.5%;
	top: 7vh;
	overflow: auto;
}

.overflow {
	top: 11.5vh;
}

.overflow-corp{
	top: 7vh;
}

.txt, .txt-corp {
	font-weight: lighter;
	font-size: 1.8vh;
	line-height: 2.4vh;
}

.sphere{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-size: 100% 100%;
	height: 11.7vh;
	width: 11.7vh;
	border: 0.2vh solid #6d6e70;
	transition: background 0.2s;
} .sphere:hover{
	transition: background 0.2s;
}

#helpingdent {
	background: url(../Contents/fotos/MENU_jose_francisco_alvarez.png);
	background-size: 100% 100%;
	position: fixed;
	top: 85.1vh;
	left: 45.3vw;
}

#helpingdent:hover, #helpingdent:active {
	background: url(../Contents/logos&botones/MENU_logo_Jose_Francisco_Alvarez.png);
	background-size: 100% 100%;
}

#taller_de_los_ninos {
	background: url(../Contents/fotos/MENU_sara_cifuentes.png);
	background-size: 100% 100%;
	position: fixed;
	top: 71.4vh;
	left: 51.7vw;
}

#taller_de_los_ninos:hover, #taller_de_los_ninos:active {
	background: url(../Contents/logos&botones/MENU_logo_Sara_Cifuentes.png);
	background-size: 100% 100%;
}

#tierra_de_risas {
	background: url(../Contents/fotos/MENU_tatiana_feijoo.png);
	background-size: 100% 100%;
	position: fixed;
	top: 55.5vh;
	left: 52.8vw;
}

#tierra_de_risas:hover, #tierras_de_risas:active {
	background: url(../Contents/logos&botones/MENU_logo_tatiana_feijoo.png);
	background-size: 100% 100%;
}

/*Twicks to the side menu */
#fb-logo {
	bottom: 1.9vh;
}

#twitter-logo {
	top: -6.3vh !important;
}

#vimeo-logo {
	top: -10.6vh !important;
}
