
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
	font-size: 62.5%;
}

p, li, h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 5vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 20px;
	position: relative;
}

#page-wrap {
	background: white;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
	position: fixed;
	left: 30%;
	}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.formamos {
	background-color: rgb(23, 171, 236);
	height:90px;
	width:90px;
	position: relative;
	top: 40px;
	left:-10vw;
}

.formamos-p {
	position: relative;
	top: 35%;
	color: white;
	font-size: 16px;
	text-align: center;

}

.form-lvl-p {
	position: relative;
	top: 40px;
	font-size: 20px;
	text-align: center;
}

.asesorias {
	position: relative;
	top: 20px;
	left: -5vw;
	background-color: rgb(130, 230, 236);
	height:120px;
	width: 120px;
}

.description{
	position: relative;
	left: -8vw;
	top: 1vw;
	width: 36vw;
	height: 36vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
}

.description-corp {
	position: relative;
	left: 28vw;
	top: -50vw;
	width: 42vw;
	height: 42vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
}

.st {
	font-weight: bold;
	position: relative;
	top: 5vw;
	font-size: 20px;
}

.txt {
	width: 90%;
	top:6vw;
	left: 25px;
}

.txt-2{
	width: 85%;
	top:6vw;
	left: 40px;
}

.sphere{
	position: relative;
	height: 60px;
	width: 60px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#helpingdent {
	background-image: url(Contents/logos&botones/MENU_logo_Jose_Francisco_Alvarez.png)
}
#taller_de_los_ninos {
	background-image: url(Contents/logos&botones/MENU_logo_Sara_Cifuentes.png)
}

#tierra_de_risas {
	background-image: url(Contents/logos&botones/MENU_logo_tatiana_feijoo.png)
}
