#page-background {
	background: url(../Contents/fotos/PATRIOTAS_Juan_Jose_Tirado.png);
	background-position: 0 50%;
  background-size: auto 100%;
}

.quote {
	/*position: absolute;
	top: 40%;
	left: 8%;
	width: 85%;*/
}
