
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
	font-size: 62.5%;
}

p, li, h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;

}

h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 20px;
	position: relative;
}

#page-wrap {
	background: url(../Contents/fotos/LAB_POLITICO.png);
	width: 87%;
	position: fixed;
	left: 13%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.creamos {
	background-color: rgb(23, 137, 180);
	height:5vw;
	width:5vw;
	position: relative;
	top: 7vw;
	left: 5vw;
}

.creamos-p {
	position: relative;
	top: 30%;
	color: white;
	font-size: 1.10vw;
	text-align: center;

}

.lab-patriota {
	position: relative;
	left: 8vw;
	top: 4.5vw;
	background-color: rgb(91, 204, 246);
	height:8vw;
	width: 8vw;
}

.cre-lvl-p {
	position: relative;
	top: 18px;
	font-size: 1.30vw;
	text-align: center;
}

.description {
	position: relative;
	left: 3vw;
	top: 5vw;
	width: 40vw;
	height: 40vw;
}

.st {
	font-weight: bold;
	position: relative;
	top: 6vw;
	font-size: 22px;
	color: white;
}


.txt {
	top:8vw;
	color: white;
}

/*Twicks to the side menu */
#fb-logo {
	bottom: 1.9vh;
}

#twitter-logo {
	top: -6.3vh !important;
}

#vimeo-logo {
	top: -10.6vh !important;
}
