
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
	font-size: 62.5%;
}

p, li, h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 20px;
	position: relative;
}

#page-wrap {
	background: white;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
	position: fixed;
	left: 30%;
	}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.creamos {
	background-color: rgb(23, 137, 180);
	height:5vw;
	width:5vw;
	position: relative;
	top: 40px;
	left:-10vw;
}

.creamos-p {
	position: relative;
	top: 30%;
	color: white;
	font-size: 1.10vw;
	text-align: center;

}

.lab-patriota {
	position: relative;
	left: -3vw;
	top: 1vw;
	background-color: rgb(91, 204, 246);
	height:8vw;
	width: 8vw;
}

.cre-lvl-p {
	position: relative;
	top: 18px;
	font-size: 1.30vw;
	text-align: center;
}

.description {
	position: relative;
	left: 10vw;
	top: -7vw;
	width: 40vw;
	height: 40vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
}

.st {
	font-weight: bold;
	position: relative;
	top: 6vw;
	font-size: 20px;
}


.txt {
	width: 90%;
	top:8vw;
	left: 25px;
}

/*Twicks to the side menu */
#fb-logo {
	bottom: 0.3vw;
}

#vimeo-logo {
	top: -5.3vw !important;
}
