
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
	font-size: 62.5%;
}

p, li, h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 20px;
	position: relative;
	top: 8vw;
}

#sidemenu {
	min-width:230px;
	width: 15%;
	max-width: 500px;
	height: 100%;
	border: none;
	padding-right: 0;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-right: 20px;
	background-color: rgb(238, 238, 238);
	position: fixed;
	overflow: hidden;
	font-family: 'Nunito', sans-serif;
	font-weight: light;
}

#menu-front {
	padding-top: 20px;
	padding-left: 30%;
	width: 60px;
	height: 80px;
	margin: 10px auto;
	position: relative;
	}


.menu-txt-1 {
	color: grey;
	text-align: center;
	position: relative;
	left: -1vw;
	top: -6vw;
}

#hist-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: #969696;
	width: 35px;
	height: 35px;
	top: 35px;
	left: 90px;
}

.menu-txt-2 {
	color: grey;
	text-align: center;
	position: relative;
	left: -1vw;
	top: -8vw;
}

#formamos-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(23, 171, 236);
	width: 35px;
	height: 35px;
	top: 35px;
	left: 90px;
}

.menu-txt-3 {
	color: grey;
	text-align: center;
	position: relative;
	top: -8.5vw;
}

.menu-txt-4 {
	color: grey;
	text-align: center;
	position: relative;
	top: -95px;
	left: -20px;
}

.menu-txt-5 {
	color: grey;
	text-align: center;
	position: relative;
	top: -130px;
	left: -20px;
}

#incubadora-bubble,  #aceleradora-bubble, #asesoria-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(130, 230, 236);
	width: 30px;
	height: 30px;
	top: -15px;
	left: 75px;
}

.menu-txt-6 {
	color: grey;
	text-align: center;
	position: relative;
	top: -160px;
	left: -20px;
}

#creamos-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(23, 137, 180);
	width: 35px;
	height: 35px;
	top: -15px;
	left: 75px;
}

.menu-txt-7 {
	color: grey;
	text-align: center;
	position: relative;
	top: -190px;
	left: -20px;
}

.menu-txt-8 {
	color: grey;
	text-align: center;
	position: relative;
	top: -220px;
	left: -20px;
}

#lab-cor-bubble, #lab-pat-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(91, 204, 246);
	width: 30px;
	height: 30px;
	top: -15px;
	left: 75px;
}

.menu-txt-9 {
	color: grey;
	text-align: center;
	position: relative;
	top: -250px;
	left: -20px;

}

#patriotas-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: white;
	width: 35px;
	height: 35px;
	top: -15px;
	left: 75px;
}

#social-network {
	position: relative;
	left: 10px;
	height: 50px;
	width: 230px;
	top: 10px;
}

.fb {
	float: left;
	left: 10px;
	padding: 5px;
	margin-left: 15%
}

#fb-logo {
	width: 35px;
	height: 35px;
	border-radius: 30%;
}

.twitter {
	float: left;
	left: 70px;
	padding: 5px;
}

#twitter-logo {
	width: 35px;
	height: 35px;
	border-radius: 25%;
}

.vimeo {
	float: left;
	left: 130px;
	padding: 5px;
}

#vimeo-logo {
	width: 35px;
	height: 35px;
	border-radius: 25%;
}

#social-network {
	height: 50px;
	margin: 10 0 10 0;
}

.contact-info {
	width: 230px;
}

.phone-num {
	text-align: center;
	position:relative;
	top: 20px;
	right: 40px;
}

.email-address{
	text-align: center;
	margin-top: -3px;
	padding: 3%;

}

#page-wrap {
	background: white;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
	position: fixed;
	left: 30%;
	}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.creamos {
	background-color: rgb(23, 137, 180);
	height:80px;
	width:80px;
	position: relative;
	top: 40px;
	left:-7vw;
}

.creamos-p {
	position: relative;
	top: 30%;
	color: white;
	font-size: 16px;
	text-align: center;

}

.cre-lvl-p {
	position: relative;
	top: 18px;
	font-size: 20px;
	text-align: center;
}

.lab-corporativo {
	position: relative;
	top: 20px;
	background-color: rgb(91, 204, 246);
	height:120px;
	width: 120px;
}

.description {
	position: relative;
	left: 10vw;
	top: -3vw;
	width: 41vw;
	height: 41vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
}

.st {
	font-weight: bold;
	position: relative;
	top: 6vw;
	font-size: 20px;
}

.txt {
	top: 7vw;
	padding-right: 10px;
	padding-left: 10px;
}
