
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
    font-family: Nunito, sans-serif;
}

h1 {
	font: 1.2em/1.8em Nunito, sans-serif;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 28px;
}


a, a:visited {
	text-decoration: none;
	color: black;
}


#logo {
	height: 31vw;
	width: 31vw;
}

.logo {
	height: 25%;
	position: absolute;
	top: 15%;
	left: 27%;
}

.quote {
	position: relative;
	top: 23vh;
}

.video {
	top: 1vw;
}

.story p {
	color: white;
}


#page-wrap {
	background: url(../Contents/fotos/LAB_CORP_BBVA.png);
	width: 87%;
	position: fixed;
	left: 13%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.background {
	/*position: fixed;
	top: -30vh;
	left: 16.37vw;
	height: 54.395vh;
	width: 56.649vh;
	background: url("../Contents/logos&botones/bkgSpheresMain1080.png");
	background-size: contain;*/
}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	background-color: rgb(23, 171, 236);
}

.creamos-before {
	position: fixed;
	top: 8.14vh;
	left: 22.4vw;
	width: 11.8vh;
	height: 11.8vh;
	border: 0.43vh solid #eceded;
	background-color: #eceded;
}

.creamos {
	position: relative;
	top: 0.05vh;
	left: 0.05vh;
	height: 10.7vh;
	width: 10.7vh;
	border: 0.55vh solid #c7c9c9;
	background-color: #1d8ab1;
}

.creamos-p {
	position: relative;
	top: 4.1vh;
	width: 100%;
	color: white;
	font-size: 1.50vh;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.lab-corporativo {
	position: fixed;
	top: 0.6vh;
	left: 33vw;
	height: 23vh;
	width: 23vh;
	border: solid 0.74vh #6d6e70;
	background-color: #32c1d8;
}

.cre-lvl-p {
	position: relative;
	top: 7.0vh;
	width: 100%;
	color: white;
	font-size: 3.8vh;
	font-weight: lighter;
	text-align: center;
	text-transform: capitalize;
	line-height: 3.9vh
}

.description {
	background: #f1f2f2;
	overflow: auto;
	position: fixed;
	left: 26.8vw;
	top: 31.3vh;
	width: 65.6vh;
	height: 65.6vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 0.5vh #6d6e70;
	text-align: center;
}

.st {
	position: relative;
	left: 10%;
	top: 12vh;
	width: 80%;
	font-weight: bold;
	font-style: italic;
	font-size: 2.8vh;
	line-height: 3.5vh;
}

.overflow {
	position: relative;
	left: 7.5%;
	top: 17vh;
	height: 27vh;
	width: 85%;
	/*overflow: auto;*/
}

.txt {
	font-weight: lighter;
	font-size: 2.6vh;
	line-height: 3.5vh;
}
