body, ul {
	list-style: none;
	text-decoration: none;
}

p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #c7c9c9;
}

a:visited {
	text-decoration: none;
}

#page-wrap {
	position: relative;
	left: 11.92vw;
	width: 100%;
	height: 100%;
	min-width: 780px;
	max-width: 1693px;
	overflow-y: hidden;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-position: left 11.92vw top 0;
	background-attachment: fixed;
	-webkit-background-size: auto auto;
	-moz-background-size: auto auto;
	background-size: auto auto;
}


/* Elements of main page */

.background {
	position: fixed;
	top: -4vh;
	left: 28.66vw;
	height: 101.94vh;
	width: 101.94vh;
	/*background: url("../Contents/logos&botones/bkgSpheresMain1080.png");*/
	/*transform: rotate(360deg);*/
}

#bkgLayer1{
	background: url("../Contents/logos&botones/bkgSpheresLayer1-1080.png");
	background-size: contain;
	transition-duration: 600s;

}

#bkgLayer2{
	background: url("../Contents/logos&botones/bkgSpheresLayer2-1080.png");
	background-size: contain;
	transition-duration: 594s;

}

#bkgLayer3{
	background: url("../Contents/logos&botones/bkgSpheresLayer3-1080.png");
	background-size: contain;
	transition-duration: 606s;
}

.center {
	position: fixed;
	top: 34.6vh;
	right: 38vw;
	z-index: 1;
}

.center-img {
	width: 9.2vw;
}

/*Floating bubbles*/

.bubble, .bubble2, .formamos-before, .creamos-before, .patriotas-before {
	width: 16.2vh;
	height: 16.2vh;
}

.formamos, .formamos-level {
	transition: 0.3s;
}

.formamos-before {
	position: fixed;
	top: 55vh;
	left: 37.2vw;
	width: 16.2vh;
	height: 16.2vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.92vh solid #eceff1;
	background-color: #eceff1;
} .formamos-before:hover, .formamos-before.jqHover, .formamos-before:active, .formamos-before.jqActive {
	border: 0.92vh solid #eceded;
	background-color: #eceded;
}

.formamos {
	position: relative;
	width: 15.1vh;
	height: 15.1vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.64vh solid #c7c9c9;
	background-color: #92D3D1;
	font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.5s;
} .formamos:hover, .formamos.jqHover, .formamos:active, .formamos.jqActive {
	background-color: #18afb4;
	transition: background-color 0.5s;
}


.formamos-p, .creamos-p {
	position: absolute;
	top: 6.5vh;
	width: 100%;
	font-weight: bold;
	font-size: 2vh;
	line-height: 2.59vh;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.formamos-level {
	position: relative;
	height: 12.8vh;
	width: 12.8vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.4vh solid #dddede;
	background-color: #fafafa;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	text-transform: lowercase;
	color: #ccc;
	transition: background-color 0.5s;
} .formamos-level:hover, .formamos-level.jqHctive, .formamos-level:active, .formamos-level.jqActive {
	border: 0.4vh solid #c7c9c9;
	background-color: #63bfbd;
	color: white;
	transition: background-color 0.5s;
}

.asesorias-container {
	position: fixed;
	top: 71.5vh;
	left: 28.2vw;
}

.asesorias-p, .aceleradora-p, .incubadora-p {
	position: absolute;
	top: 5vh;
	width: 100%;
	font-size: 2.1vh;
}

.aceleradora-container {
	position: fixed;
	top: 81vh;
	left: 37.1vw;
}

.incubadora-container {
	position: fixed;
	top: 78.2vh;
	left: 47.1vw;
}

.creamos-before {
	position: fixed;
	top: 37.92vh;
	left: 70.2vw;
	width: 16.2vh;
	height: 16.2vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.92vh solid #eceff1;
	background-color: #eceff1;
} .creamos-before:hover, .creamos-before.jqHover, .creamos-before:active, .creamos-before.jqActive {
	border: 0.92vh solid #eceded;
	background-color: #eceded;
}

.creamos {
	position: relative;
	width: 15.1vh;
	height: 15.1vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.64vh solid #c7c9c9;
	background-color: #7dc9db;
	font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.5s;
} .creamos:hover, .creamos.jqHover, .creamos:active, .creamos.jqActive {
	background-color: #1d8ab1;
	transition: background-color 0.5s;
}

.creamos-txt, .formamos-txt {
	visibility: hidden;
}

.creamos-level {
	position: relative;
	height: 12.8vh;
	width: 12.8vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.4vh solid #dddede;
	background-color: #fafafa;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	text-transform: capitalize;
	color: #ccc;
	transition: background-color 0.5s;
} .creamos-level:hover, .creamos-level.jqHover, .creamos-level:active, .creamos-level.jqActive {
	border: 0.4vh solid #c7c9c9;
	background-color: #32c1d8;
	color: white;
	transition: background-color 0.5s;
}

.lab-corp-p, .lab-pat-p {
	position: absolute;
	top: 4.1vh;
	width: 100%;
	font-size: 2.1vh;
	line-height: 2.1vh;
}
.lab-corp-container {
	position: fixed;
	top: 38.15vh;
	left: 85.2vw;
}

.lab-pat-container {
	position: fixed;
	top: 57vh;
	left: 82.9vw;
}

.ynnovamos {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

}

.patriotas-before {
	position: fixed;
	top: 8.1vh;
	left: 37.9vw;
	width: 16.2vh;
	height: 16.2vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.92vh solid #eceff1;
	background-color: #eceff1;
	transition: background-color 0.5s, border 0.5s;
} .patriotas-before:hover, .patriotas-before.jqHover, .patriotas-before:active, .patriotas-before.jqActive  {
	border: 0.92vh solid #d1d2d4;
	background-color: #d1d2d4;
	transition: background-color 0.5s, border 0.5s;
}

.patriotas {
	position: relative;
	width: 15.1vh;
	height: 15.1vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.64vh solid #dfdfdf;
	background-color: #fdfdfd;
	font-family: 'Nunito' sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: #cbcbcb;
	transition: background-color 0.5s, border 0.5s;
} .patriotas:hover, .patriotas-jqHover, .patriotas:active, .patriotas-jqActive {
	border: 0.64vh solid #58585b;
	background-color: #fffafa;
	color: #231f20;
	transition: background-color 0.5s, border 0.5s;
}

.patriotas-p {
	position: absolute;
	top: 4.4vh;
	width: 100%;
	font-weight: lighter;
	font-size: 2.4vh;
	line-height: 2.59vh;
	text-transform: uppercase;
}


/*Tweaks to the side menu */
#sidemenu #back-button {
	display: none;
}
