* {
	margin: 0;
	padding: 0;
}


html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
    font-family: Nunito, sans-serif;
}

body, ul {
	list-style: none;
	text-decoration: none;
}

p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #c7c9c9;
}

a:visited {
	text-decoration: none;
}

#page-wrap {
	min-width: 780px;
	max-width: 1632px;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: white;
	background: url("../Contents/logos-botones/ybackground.png");
	background-repeat: no-repeat;
	background-position: right 13.1vw top;
	/*for 1366x645
	background-position: right 13.1vw top -6vh;
	*/
	background-attachment: fixed;
	-webkit-background-size: 59vw auto;
	-moz-background-size: 59vw auto;
	background-size: 59vw auto;
	position: relative;
	left: 15%;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	}
	#page-wrap #inside {
		margin: 10px 10px 0px 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}


/* Elements of main page */

#img.ybackground.png {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
}

.center {
	position: fixed;
	top: 34.6vh;
	right: 38vw;
	z-index: 1;
}

.center-img {
	width: 9.2vw;
}

/*Floating bubbles*/

.bubble, .bubble2, .formamos-before, .creamos-before, .patriotas-before {
	width: 16.2vh;
	height: 16.2vh;
}

.formamos-before {
	position: fixed;
	top: 55vh;
	left: 37.2vw;
	width: 16.2vh;
	height: 16.2vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.92vh solid #eceded;
	background-color: #eceded;
}

.formamos {
	position: relative;
	width: 15.1vh;
	height: 15.1vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.64vh solid #c7c9c9;
	background-color: #18afb4;
	font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
}


.formamos-p, .creamos-p {
	position: absolute;
	top: 6.5vh;
	width: 100%;
	font-weight: bold;
	font-size: 2vh;
	line-height: 2.59vh;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.formamos-level {
	position: relative;
	height: 12.8vh;
	width: 12.8vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	/*border: 0.4vh solid #c7c9c9;
	background-color: #63bfbd;*/
	border: 0.4vh solid #dddede;
	background-color: #fafafa;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	text-transform: lowercase;
	/*color: white;*/
	color: #ccc;
	transition: background-color 0.5s;
} .formamos-level:hover {
	border: 0.4vh solid #c7c9c9;
	background-color: #63bfbd;
	color: white;
	transition: background-color 0.5s;
} .formamos-level:active {
	border: 0.4vh solid #c7c9c9;
	background-color: #63bfbd;
	color: white;
}

.asesorias-before {
	position: fixed;
	top: 71.5vh;
	left: 28.2vw;
}

.asesorias-p, .aceleradora-p, .incubadora-p {
	position: absolute;
	top: 5vh;
	width: 100%;
	font-size: 2.1vh;
}

.aceleradora-before {
	position: fixed;
	top: 81vh;
	left: 37.1vw;
}

.incubadora-before {
	position: fixed;
	top: 78.2vh;
	left: 47.1vw;
}

.creamos-before {
	position: fixed;
	top: 37.92vh;
	left: 70.2vw;
	width: 16.2vh;
	height: 16.2vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.92vh solid #eceded;
	background-color: #eceded;
}

.creamos {
	position: relative;
	width: 15.1vh;
	height: 15.1vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.64vh solid #c7c9c9;
	background-color: #1d8ab1;
	font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
}

.creamos-level {
	position: relative;
	height: 12.8vh;
	width: 12.8vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	/*border: 0.4vh solid #c7c9c9;
	background-color: #32c1d8;*/
	border: 0.4vh solid #dddede;
	background-color: #fafafa;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	text-transform: capitalize;
	/*color:white*/
	color: #ccc;
	transition: background-color 0.5s;
} .creamos-level:hover {
	border: 0.4vh solid #c7c9c9;
	background-color: #32c1d8;
	color: white;
	transition: background-color 0.5s;
} .creamos-level:active {
	border: 0.4vh solid #c7c9c9;
	background-color: #32c1d8;
	color: white;
}

.lab-corp-p, .lab-pat-p {
	position: absolute;
	top: 4.1vh;
	width: 100%;
	font-size: 2.1vh;
	line-height: 2.1vh;
}
.lab-corp-before  {
	position: fixed;
	top: 38.15vh;
	left: 85.2vw;
}

.lab-pat-before{
	position: fixed;
	top: 57vh;
	left: 82.9vw;
}

.ynnovamos {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

}

.patriotas-before {
	position: fixed;
	top: 8.1vh;
	left: 37.9vw;
	width: 16.2vh;
	height: 16.2vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.92vh solid #eceff1;
	background-color: #eceff1;
	transition: background-color 0.5s, border 0.5s;
} .patriotas-before:hover{
	border: 0.92vh solid #d1d2d4;
	background-color: #d1d2d4;
	transition: background-color 0.5s, border 0.5s;
} .patriotas-before:active{
	border: 0.92vh solid #d1d2d4;
	background-color: #d1d2d4;
}

.patriotas {
	position: relative;
	width: 15.1vh;
	height: 15.1vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.64vh solid #dfdfdf;
	background-color: #fdfdfd;
	font-family: 'Nunito' sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: #cbcbcb;
	transition: background-color 0.5s, border 0.5s;
} .patriotas:hover{
	border: 0.64vh solid #58585b;
	background-color: #fafafb;
	color: #231f20;
	transition: background-color 0.5s, border 0.5s;
}.patriotas:active{
	border: 0.64vh solid #58585b;
	background-color: #fafafb;
	color: #231f20;
}

.patriotas-p {
	position: absolute;
	top: 4.4vh;
	width: 100%;
	font-weight: lighter;
	font-size: 2.4vh;
	line-height: 2.59vh;
	text-transform: uppercase;
}
