#page-background {
	background: url(../Contents/fotos/ASESORIA_Luciana_Rey.png);
	background-position: 0 50%;
  background-size: auto 100%;
}

.logo {
	position: absolute;
	top: 36%;
	left: 23%;
	height: 14.5vh;
}
