#page-background {
	background: url(../Contents/fotos/ACELERADORA_luciana_rey.png);
	background-position: 0 50%;
  background-size: auto 100%;
}

.logo {
	top: 14.5vh;
}

.quote {
	top: 16.5vh;
}

.video {
	/*top: 1wv;*/
}

.story {
	/*color: white;*/
}
