.nav {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-size: 100% 100%;
	height: 3.5vw;
	width: 3.5vw;
}


#nf {
	background: url(../Contents/fotos/MENU_nancy_figueroa.png);
	background-size: 100% 100%;
	position: absolute;
	bottom: 2vw;
	left: 20vw;

}

#jaf {
	background: url(../Contents/fotos/MENU_Juan_Flores.png);
	background-size: 100% 100%;
	position: absolute;
	bottom: 2vw;
	left: 24vw;
}


#hl {
	background: url(../Contents/fotos/MENU_Hernan_Lanzara.png);
	background-size: 100% 100%;
	position: absolute;
	bottom: 2vw;
	left: 28vw;
}

#nm {
	background: url(../Contents/fotos/MENU_Natalia_Manso.png);
	background-size: 100% 100%;
	position: absolute;
	bottom: 2vw;
	left: 32vw;
}

#smq {
	background: url(../Contents/fotos/MENU_Silvia_Miro_Quesada.png);
	background-size: 100% 100%;
	position: absolute;
	bottom: 2vw;
	left: 36vw;
}

#jm {
	background: url(../Contents/fotos/MENU_Juan_Montoya.png);
	background-size: 100% 100%;
	position: absolute;
	bottom: 2vw;
	left:40vw;
}

#jjt {
	background: url(../Contents/fotos/MENU_Juan_Jose_Tirado.png);
	background-size: 100% 100%;
	position: absolute;
	bottom: 2vw;
	left: 44vw;
}


#ft {
	background: url(../Contents/fotos/MENU_Fidel_Torres.png);
	background-size: 100% 100%;
	position: absolute;
	bottom: 2vw;
	left: 48vw;
}


#nf:hover, #nf:active, #jaf:hover, #jaf:active, #hl:hover, #hl:active, #nm:hover, #nm:active, #smq:hover, #smq:active, #jm:hover, #jm:active, #jjt:hover, #jjt:active, #ft:hover, #ft:active {
	background: url(../Contents/logos&botones/patriotas-logo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 28%;
	background-position: 10%;
	background-color: white

}