html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
    font-family: Nunito, sans-serif;
}

body, ul {
	list-style: none;
	text-decoration: none;
}

p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
}

#background {
	width: 87%;
	position: fixed;
	left: 13%;
	height: 100%;

}

.bubble, .patriotas-before {
	width: 130px;
	height: 130px;
}

.patriotas-before {
	position: fixed;
	top: 5.74vh;
	left: 17.4vw;
	z-index: -1;
	width: 16.2vh;
	height: 16.2vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.92vh solid #d1d2d4;
	background-color: #d1d2d4;
}

.patriotas {
	position: relative;
	width: 15.1vh;
	height: 15.1vh;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.64vh solid #58585b;
	background-color: #fafafb;
	font-family: 'Nunito' sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: #231f20;
}

.patriotas-p {
	position: absolute;
	top: 2.4vh;
	width: 100%;
	font-weight: lighter;
	font-size: 2.4vh;
	line-height: 2.59vh;
	text-transform: uppercase;
}

#quote {
	position: fixed;
	top: -13.2vh;
	left: 28.7vw;
	height: 59.8vh;
	width: 59.8vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 0.3vh rgb(130, 130, 130);

	background-color: white;
	text-align: center;
	z-index: -1;
	/*position: absolute;
	top: -10vw;
	left: 25vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 5;
	border-radius: 50%;
	border: solid 4px rgb(130, 130, 130);
	background-color: white;
	height: 30vw;
	width: 30vw;
	text-align: center;
	z-index: -1;*/
}

.quote {
	position: relative;
	top: 20vh;
	left: 7.5%;
	width: 85%;

	font-weight: normal;
	color: rgb(23, 171, 180);
	font-size: 3vh;
	line-height: 3.6vh;
}

#info {
	position: fixed;
	top: 45.8vh;
	left: 16.8vw;
	width: 38.6vw;
	height: 50.9vh;

	font-size: 2.2vh;
	font-weight: lighter;
	color: white;
	/*width: 40vw;
	height: 20vw;
	position: fixed;
	top: 25vw;
	left: 16vw;
	}#info .story {
		margin: 20px 20px 0px 20px;
		padding-top: 10px;
		padding-bottom: 20px;*/
}

.story {
	position: absolute;
	overflow: auto;
	height: 43vh;
	top: 4vh;
}

/*.story p {
	color: white;
	font-weight: lighter;
}*/

#namecard, .txt, .txt2 {
	color: white;
}

#namecard {
	font-size: 3vh;
	position: relative;
	top: -4vh;
}

/*Twicks to the side menu */
#fb-logo {
	bottom: 1.9vh;
}

#twitter-logo {
	top: -6.3vh !important;
}

#vimeo-logo {
	top: -10.6vh !important;
}
