
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}



h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}


#page-wrap {
	background: white;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
	position: fixed;
	left: 30%;
	}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
}

.formamos {
	background-color: rgb(23, 171, 236);
	height:90px;
	width:90px;
	position: relative;
	top: 40px;
	left:-10vw;
}

.formamos-p {
	position: relative;
	top: 35%;
	color: white;
	font-size: 16px;
	text-align: center;

}

.form-lvl-p {
	position: relative;
	top: 40px;
	font-size: 20px;
	text-align: center;
}

.patriotas {
	position: relative;
	top: 20px;
	left: -5vw;
	height:120px;
	width: 120px;
}

.description{
	position: relative;
	left: 8vw;
	top: 5vw;
	width: 39vw;
	height: 39vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
	} .description p {
	font-size: 20px;
	position: relative;
	font: 1.2em/1.8em Nunito, sans-serif;
	text-align: center;
}


#patriotas-logo {
	position: relative;
	top:4vw;
	left: 10vw;
	height: 70px;
	width: 250px;
}

.st {
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 20px;
}

.txt {
	width: 90%;
	top:6vw;
	left: 2vw;
}

.txt-2{
	width: 70%;
	top:6vw;
	left: 75px;
}

.sphere{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-size: 100% 100%;
	height: 8vw;
	width: 8vw;
}


#nf {
	background: url(../Contents/fotos/MENU_nancy_figueroa.png);
	background-size: 100% 100%;
	position: absolute;
	top: 5vw;
	left: -8vw;

}

#jaf {
	background: url(../Contents/fotos/MENU_Juan_Flores.png);
	background-size: 100% 100%;
	position: absolute;
	top: 15vw;
	left: -2vw;
}


#hl {
	background: url(../Contents/fotos/MENU_Hernan_Lanzara.png);
	background-size: 100% 100%;
	position: absolute;
	top: 25vw;
	left: -8vw;
}

#nm {
	background: url(../Contents/fotos/MENU_Natalia_Manso.png);
	background-size: 100% 100%;
	position: absolute;
	top: 35vw;
	left: -2vw;
}

#smq {
	background: url(../Contents/fotos/MENU_Silvia_Miro_Quesada.png);
	background-size: 100% 100%;
	position: absolute;
	top: 5vw;
	left: 55vw;
}

#jm {
	background: url(../Contents/fotos/MENU_Juan_Montoya.png);
	background-size: 100% 100%;
	position: absolute;
	top:15vw;
	left:50vw;
}

#jjt {
	background: url(../Contents/fotos/MENU_Juan_Jose_Tirado.png);
	background-size: 100% 100%;
	position: absolute;
	top: 25vw;
	left: 55vw;
}


#ft {
	background: url(../Contents/fotos/MENU_Fidel_Torres.png);
	background-size: 100% 100%;
	position: absolute;
	top: 35vw;
	left: 50vw;
}


#nf:hover, #nf:active, #jaf:hover, #jaf:active, #hl:hover, #hl:active, #nm:hover, #nm:active, #smq:hover, #smq:active, #jm:hover, #jm:active, #jjt:hover, #jjt:active, #ft:hover, #ft:active {
	background: url(../Contents/logos-botones/patriotas-logo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 28%;
	background-position: 10%;

}

/*Twicks to the side menu */
#fb-logo {
	bottom: 1.9vh;
}

#twitter-logo {
	top: -6.3vh !important;
}

#vimeo-logo {
	top: -10.6vh !important;
}
