
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
}



h1 {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 28px;
}

img {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

#page-wrap {
	position: relative;
	left: 11.92vw;
	width: 100%;
	height: 100%;
	min-width: 780px;
	max-width: 1693px;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: white;
	background: url("../Contents/logos&botones/backgroundClear1080.png");
	background-repeat: no-repeat;
	background-position: left 11.92vw top 0;
	background-attachment: fixed;
	-webkit-background-size: auto auto;
	-moz-background-size: auto auto;
	background-size: auto auto;
}

#inside {
	position: fixed;
	left: 30%;
}

.bubble {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px grey;
}

.patriotas {
	position: relative;
	top: 20px;
	left: -5vw;
	height:120px;
	width: 120px;
}

.description{
	position: relative;
	left: 8vw;
	top: 5vw;
	width: 39vw;
	height: 39vw;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 0.5vh #6d6e70;
}


#patriotas-logo {
	position: relative;
	top:10vh;
	left: 15%;
	width: 70%;
}

.st {
	font-weight: bold;
	position: relative;
	top: 7vw;
	font-size: 20px;
}

.txt {
	top:16vh;
	position: relative;
	width: 85%;
	left: 7.5%;
	font-family: Nunito, sans-serif;
	text-align: center;
	font-weight: lighter;
	font-size: 2.6vh;
	line-height: 3.5vh;
}

.txt-2{
	width: 70%;
	top:6vw;
	left: 75px;
}

.sphere{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-size: 100% 100%;
	height: 14.2vh;
	width: 14.2vh;
	border: 0.2vh solid #6d6e70;
	transition: background 0.4s;
} .sphere:hover{
	transition: background 0.4s;
}


#nf {
	background: url(../Contents/fotos/MENU_nancy_figueroa.png);
	background-size: 100% 100%;
	position: absolute;
	top: 5vw;
	left: -8vw;

}

#jaf {
	background: url(../Contents/fotos/MENU_Juan_Flores.png);
	background-size: 100% 100%;
	position: absolute;
	top: 15vw;
	left: -2vw;
}


#hl {
	background: url(../Contents/fotos/MENU_Hernan_Lanzara.png);
	background-size: 100% 100%;
	position: absolute;
	top: 25vw;
	left: -8vw;
}

#nm {
	background: url(../Contents/fotos/MENU_Natalia_Manso.png);
	background-size: 100% 100%;
	position: absolute;
	top: 35vw;
	left: -2vw;
}

#smq {
	background: url(../Contents/fotos/MENU_Silvia_Miro_Quesada.png);
	background-size: 100% 100%;
	position: absolute;
	top: 5vw;
	left: 55vw;
}

#jm {
	background: url(../Contents/fotos/MENU_Juan_Montoya.png);
	background-size: 100% 100%;
	position: absolute;
	top:15vw;
	left:50vw;
}

#jjt {
	background: url(../Contents/fotos/MENU_Juan_Jose_Tirado.png);
	background-size: 100% 100%;
	position: absolute;
	top: 25vw;
	left: 55vw;
}


#ft {
	background: url(../Contents/fotos/MENU_Fidel_Torres.png);
	background-size: 100% 100%;
	position: absolute;
	top: 35vw;
	left: 50vw;
}


#nf:hover, #nf:active, #jaf:hover, #jaf:active, #hl:hover, #hl:active, #nm:hover, #nm:active, #smq:hover, #smq:active, #jm:hover, #jm:active, #jjt:hover, #jjt:active, #ft:hover, #ft:active {
	background: url(../Contents/logos&botones/MENU_patriotas-logo.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 10%;

}

/*Twicks to the side menu */
#fb-logo {
	bottom: 1.9vh;
}

#twitter-logo {
	top: -6.3vh !important;
}

#vimeo-logo {
	top: -10.6vh !important;
}
