#background {
	background: url(../Contents/fotos/ACELERADORA_kerstin_forsberg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.logo {
	height: 15%;
	position: absolute;
	top: 20%;
	left: 35%;
}

.quote {
	position: relative;
	top: 11vw;
}

.video {
	top: 1vw;
}

.story {
	top: 4vw;
	height: 13vw;
}

.story p {
	color: white;
}

.contact {
	top: 21vw;
}

.twt-logo{
	top:-50px;
	left: 30px;
}
