#page-background {
	background: url(../Contents/fotos/ACELERADORA_kerstin_forsberg.png);
	background-position: 0 50%;
  background-size: auto 100%;
}

.logo {
	/*height: 25%;
	position: absolute;
	top: 15%;
	left: 25%;*/
}

.quote {
	top: 15.5vh;
}

.video {
	/*top: 1wv;*/
}

.story {
	/*color: white;*/
}
