#background {
	background: url(../Contents/fotos/ACELERADORA_anson_tou.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#logo {
	height: 31vw;
	width: 31vw;
}

.logo {
	height: 25%;
	position: absolute;
	top: 15%;
	left: 27%;
}

.quote {
	font-size: 2.1vh;
	position: relative;
	top: 23vh;
}

.video {
	top: 1vw;
}

.story {
	top: 8vh;
}

.story p {
	color: white;
}

.contact {
	top: 40vh;
}
