#background {
	background: url(../Contents/fotos/ACELERADORA_jaime_chiarella.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.logo {
	/*height: 25%;
	position: absolute;
	top: 15%;
	left: 25%;*/
}

.quote {
	/*position: relative;
	top: 23vh;*/
	font-size: 2.3vh;
	line-height: 3.2vh;
}

.video {
	/*top: 1wv;*/
}

.story {
	/*color: white;*/
}
