#background {
	background: url(../Contents/fotos/ACELERADORA_jaime_chiarella.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.logo {
	height: 25%;
	position: absolute;
	top: 15%;
	left: 27%;
}

.quote {
	font-size: 16px;
	position: relative;
	top: 13vw;
}

.video {
	top: 1vw;
}

.story {
	top: 4vw;
}

.story p {
	color: white;
}

.contact {
	top: 23vw;
}

.twt-logo{
	top:-50px;
	left: 30px;
}
