* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0px auto;
	padding: 0;
	height: 100%;
	outline: 0;
    font-size: 100%;
    background: transparent;
    font-family: Nunito, sans-serif;
}

#page-wrap {
  position: fixed;
	width: 87%;
	left: 13%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#page-background {
	position: relative;
	top: -5%;
	width: 100%;
	height: 110%;
	background-color:white;
  border-top-left-radius: 5vw 50%;
  border-bottom-left-radius: 5vw 50%;
}
