a, ul {
	text-decoration: none;
	list-style: none;
}

#sidemenu {
	min-width:230px;
	width: 15%;
	max-width: 500px;
	height: 100%;
	border: none;
	padding:0;
	margin: 0;
	background-color: rgb(238, 238, 238);
	position: fixed;
	overflow: hidden;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

#menu-front {
	position: relative;
	top: 2vw;
	left: 4vw;
	width: 4vw;
}

#fb-logo {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 2.5vw;
	position: relative;
	left: 2vw;
	top: ;
}

#twitter-logo {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 2.5vw;
	position: relative;
	left: 5vw;
	top: -2.7vw;
}

#vimeo-logo {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 2.5vw;
	position: relative;
	left: 8vw;
	top: -5.5vw;
}