

a, ul {
	text-decoration: none;
	list-style: none;
}

#sidemenu {
	min-width:230px;
	width: 15%;
	max-width: 500px;
	height: 100%;
	border: none;
	padding:0;
	margin: 0;
	background-color: rgb(238, 238, 238);
	position: fixed;
	overflow: hidden;
	font-family: 'Nunito', sans-serif;
	font-weight: light;
}

#menu-front {
	padding-top: 10px;
	padding-left: 20%;
	width: 70px;
	height: 90px;
	margin: 10px auto;
	position: relative;
	}
	

.menu-txt-1 {
	color: grey;
	text-align: center;
	position: relative;
	left: -20px;
	top: -10px;
}

#hist-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: #969696;
	width: 35px;
	height: 35px;
	top: -15px;
	left: 75px;
}

.menu-txt-2 {
	color: grey;
	text-align: center;
	position: relative;
	left: -20px;
	top: -40px;
}

#formamos-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(23, 171, 236);
	width: 35px;
	height: 35px;
	top: -15px;
	left: 75px;
}

.menu-txt-3 {
	color: grey;
	text-align: center;
	position: relative;
	top: -65px;
	left: -20px;
}

.menu-txt-4 {
	color: grey;
	text-align: center;
	position: relative;
	top: -95px;
	left: -20px;
}

.menu-txt-5 {
	color: grey;
	text-align: center;
	position: relative;
	top: -130px;
	left: -20px;
}

#incubadora-bubble,  #aceleradora-bubble, #asesoria-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(130, 230, 236);
	width: 30px;
	height: 30px;
	left: 75px;
	top: -15px;
}

.menu-txt-6 {
	color: grey;
	text-align: center;
	position: relative;
	top: -160px;
	left: -20px;
}

#creamos-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(23, 137, 180);
	width: 35px;
	height: 35px;
	top: -15px;
	left: 75px;
}

.menu-txt-7 {
	color: grey;
	text-align: center;
	position: relative;
	top: -190px;
	left: -20px;
}

.menu-txt-8 {
	color: grey;
	text-align: center;
	position: relative;
	top: -220px;
	left: -20px;
}

#lab-cor-bubble, #lab-pat-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: rgb(91, 204, 246);
	width: 30px;
	height: 30px;
	top: -15px;
	left: 75px;
}

.menu-txt-9 {
	color: grey;
	text-align: center;
	position: relative;
	top: -250px;
	left: -20px;

}

#patriotas-bubble {
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1.5px grey;
	background-color: white;
	width: 35px;
	height: 35px;
	top: -15px;
	left: 75px;
}

#social-network {
	position: relative;
	left: 10px;
	height: 50px;
	width: 230px;
	top: 10px;
}

.fb {
	float: left;
	left: 10px;
	padding: 5px;
	margin-left: 15%
}

#fb-logo {
	width: 35px;
	height: 35px;
	border-radius: 30%;
}

.twitter {
	float: left;
	left: 70px;
	padding: 5px;
}

#twitter-logo {
	width: 35px;
	height: 35px;
	border-radius: 25%;
}

.vimeo {
	float: left;
	left: 130px;
	padding: 5px;
}

#vimeo-logo {
	width: 35px;
	height: 35px;
	border-radius: 25%;
}

#social-network {
	height: 50px;
	margin: 10 0 10 0;
}

.contact-info {
	width: 230px;
}

.phone-num {
	text-align: center;
	position:relative;
	top: 20px;
	right: 40px;
}

.email-address{
	text-align: center;
	margin-top: -3px;
	padding: 3%;

}