#sidemenu *{
	margin: 0;
	padding: 0;
}

#sidemenu a, #sidemenu ul {
	text-decoration: none;
	list-style: none;
}

#sidemenu body, #sidemenu ul {
	list-style: none;
	text-decoration: none;
}

#sidemenu a {
	text-decoration: none;
	color: black;
}

#sidemenu a:visited {
	text-decoration: none;
}

#sidemenu p {
	top: 0;
	left: 0;
	font: 1.13vw 'Nunito', sans-serif;
	font-weight: 300;
}

#sidemenu {
	width: 15vw;
	height: 100%;
	border: none;
	padding:0;
	margin: 0;
	background-color: rgb(238, 238, 238);
	position: fixed;
	overflow: hidden;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	} #sidemenu p {
		text-align: center;
		font-size: 1.9vh;
		margin-bottom: 12.4%;
	}

#menu-front {
	position: relative;
	top: 4vh;
	left: 4.2vw;
	width: 30%;
}

/* Text and balls */

#sidemenu .menu-list {
	position: relative;
	top: 8vh;
	left: -1.75vw;
	} .menu-list p {
	margin-bottom: 2.5vw;
	color: grey;
}

#sidemenu .ball {
	width: 2vw;
	height: 2vw;
	-moz-border-radius: 50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
	border: solid 1px grey;
}

#sidemenu .ball2 {
	width: 1vw;
	height: 1vw;
	-moz-border-radius: 50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
	border: solid 1px grey;
}

.menu-hist {
	visibility: hidden;
}

#sidemenu .hist-bubble {
	background-color: #969696;
	width: 1.5vw;
	height: 1.5vw;
	position: absolute;
	top: -5%;
	left: 45%;
}

#sidemenu .formamos-bubble {
	background-color: rgb(23, 171, 180);
	width: 2.2vw;
	height: 2.2vw;
	position: absolute;
	top: 4.5%;
	left: 43%;

	/*visibility: hidden;*/
}

.menu-formamos {
	text-transform: lowercase;
}

#sidemenu .incubadora-bubble {
	background-color: rgb(130, 230, 236);
	width: 1.5vw;
	height: 1.5vw;
	position: absolute;
	top: 16.5%;
	left: 45%;
}

.menu-creamos {
	text-transform: lowercase;
}

#sidemenu .aceleradora-bubble {
	background-color: rgb(130, 230, 236);
	width: 1.5vw;
	height: 1.5vw;
	position: absolute;
	top: 27.5%;
	left: 45%;
}

#sidemenu .asesoria-bubble {
	background-color: rgb(130, 230, 236);
	width: 1.5vw;
	height: 1.5vw;
	position: absolute;
	top: 38.5%;
	left: 45%;
}

#sidemenu .creamos-bubble {
	background-color: rgb(23, 137, 180);
	width: 2.2vw;
	height: 2.2vw;
	position: absolute;
	top: 48%;
	left: 43%;

	/*visibility: hidden;*/
}

#sidemenu .lab-cor-bubble {
	background-color: rgb(91, 204, 246);
	width: 1.5vw;
	height: 1.5vw;
	position: absolute;
	top: 60%;
	left: 45%;
}

#sidemenu .lab-pat-bubble {
	background-color: rgb(91, 204, 246);
	width: 1.5vw;
	height: 1.5vw;
	position: absolute;
	top: 75%;
	left: 45%;
}

#sidemenu .patriotas-bubble {
	background-color: white;
	width: 2.2vw;
	height: 2.2vw;
	position: absolute;
	top: 89%;
	left: 43%;
}

/*Contact Info */

/* Social Media */

#sidemenu #social-network {
	position: absolute;
	bottom:-1%;
	left: 3%;
}

#sidemenu #fb-logo {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 2.5vw;
	position: relative;
	left: 2vw;

}

#sidemenu #twitter-logo {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 2.5vw;
	position: relative;
	left: 5vw;
	top: -5vh;
}

#sidemenu #vimeo-logo {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 2.5vw;
	position: relative;
	left: 8vw;
	top: -10vh;
}

/* Phone number and email */

#sidemenu .phone-num {
	position: absolute;
	bottom: 5%;
	left: 15%;
	font-size: 2vh;
}

#sidemenu .email-address {
	position: absolute;
	bottom: 2%;
	left: 5%;
	font-size: 2vh;
}
