#background {

	background: url(../Contents/fotos/ASESORIA_Ricardo_Armas_Samuel.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.logo {
	position: absolute;
	top: 40%;
	left: 30%;
}

#quote {
	font-size: 2vh;
}

#name {
	font-size: 3vh;
}

.story p {
	color: white;
}
