#background {

	background: url(../Contents/fotos/INCUBADORA_tatiana_feijoo.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#logo {
	left: 26vw;
	height: 28vw;
	width: 28vw;
}

.logo {
	position: absolute;
	top: 40%;
	left: 24%;
}

.story p {
	color: white;
}

.contact {
	top: 18vw;
}
