#page-background {
	background: url(../Contents/fotos/INCUBADORA_tatiana_feijoo.png);
	background-position: 0 50%;
  background-size: auto 100%;
}

#logo {
	left: 26vw;
	height: 28vw;
	width: 28vw;
}

.logo {
	position: absolute;
	top: 36%;
	left: 24%;
	width: 50%;
}

.story p {
	color: white;
}
