#page-background {
	background: url(../Contents/fotos/ACELERADORA_santiago_sologuren.png);
	background-position: 0 50%;
  background-size: auto 100%;
}

.logo {
	/*height: 25%;
	position: absolute;
	top: 15%;
	left: 25%;*/
}

.quote {
	/*position: relative;*/
	top: 14.5vh;
	font-size: 2.3vh;
	line-height: 3.2vh;
}

.video {
	/*top: 1wv;*/
}

.story {
	/*color: white;*/
}
